
{% extends "base_generic.html" %}

{% block content %}
  <p>Speciality Build Traking DataBase developed by <em>Harrison Plume</em><p>
  <p>Any bugs please report to <a href = "{% url 'cptasks' %}">harrison@pwr.com.au</a></p>
  
  <h2>Current Tasks</h2>
    <div> <a href="{% url 'parts' %}"> Parts in progress:</a> {{ num_parts }}</div>
    <hr>
    <li>Tasks Outstanding: {{ tasks_remaning}}</li>
    <li> <a href="{% url 'cptasks' %}"> Component Prep Tasks:</a> {{ num_CpTasks }} </li>
    <li> <a href="{% url 'stackingtasks' %}"> Stacking Tasks:</a> {{ num_Stacking_Tasks }} </li>
{% endblock %}