{% extends "base_generic.html" %}
{% block content %}
{% load static %}
<head>
<style>
table, th, td {
  border-collapse: collapse;
  border: 2px solid rgb(230,230,230);
  letter-spacing: 1px;
  font-size: 0.8rem;
  padding-left: 5px;
  padding-right: 5px;
}
a.ex3 {color: black;
font-weight: bold;
}
a.ex2{color: black; text-align:center}


th span 
{
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
}
</style>
</head>
    <h1> Current Parts</h1>
    <hr>
    {% if user.is_authenticated %}
      <h5>Admin Panel</h5>
      <p><a class = "ex3" href = "{% url 'part-create' %}">Create new part</a></p>
      <hr>
      {% endif %}
      {% if part_list %}
      {% if Cores_not_in_Archive > 0 %}
        <table>
        <tr>
        <th><a href = "" class = "ex3">Part</a></th>
        <th><a href = "" class = "ex3">Team</a></th>
        <th><a href = "" class = "ex3">Serial</a></th>
        <th colspan={{ Component_Prep_Tasks|length }}><a href = "{% url 'cptasks' %}" class = "ex3">Component Prep Tasks</a></th>
        <th colspan={{ Forming_Tasks|length }}><a href = "{% url 'formingtasks' %}" class = "ex3">Forming Header Plate Tasks</a></th>
        <th colspan={{ Stacking_Tasks|length }}><a href = "{% url 'stackingtasks' %}" class = "ex3">Stacking Tasks</a></th>
        <th colspan={{ Wire_Cut_Tasks|length }}><a href = "{% url 'wirecuttasks' %}" class = "ex3">Wire Cut Tasks</a></th>
        <th colspan={{ Pitching_Tasks|length }}><a href = "{% url 'pitchingtasks' %}" class = "ex3">Pitching Tasks</a></th>
        <th colspan={{ HP_Tasks|length }}><a href = "{% url 'headerplatetasks' %}" class = "ex3">HP Machining Tasks</a></th>
        <th colspan={{ Deburr_Tasks|length }}><a href = "{% url 'deburrtasks' %}" class = "ex3">Deburr Tasks</a></th>
        <th colspan={{ Plating_Tasks|length }}><a href = "{% url 'platingtasks' %}" class = "ex3">Plating Tasks</a></th>
        </tr>
        
        <tr>
        <td></td>
        <td></td>
        <td></td>
        {% for task in Component_Prep_Tasks %}
        <th style = "text-align:center"><span>{{task}}</span></th> 
        {% endfor %}
        {% for task in Forming_Tasks %}
        <th style = "text-align:center"><span>{{task}}</span></th> 
        {% endfor %}
        {% for task in Stacking_Tasks %}
        <th style = "text-align:center"><span>{{task}}</span></th> 
        {% endfor %}
        {% for task in Wire_Cut_Tasks %}
        <th style = "text-align:center"><span>{{task}}</span></th> 
        {% endfor %}
        {% for task in Pitching_Tasks %}
        <th style = "text-align:center"><span>{{task}}</span></th> 
        {% endfor %}
        {% for task in HP_Tasks %}
        <th style = "text-align:center"><span>{{task}}</span></th> 
        {% endfor %}
        {% for task in Deburr_Tasks %}
        <th style = "text-align:center"><span>{{task}}</span></th> 
        {% endfor %}
        {% for task in Plating_Tasks %}
        <th style = "text-align:center"><span>{{task}}</span></th> 
        {% endfor %}
        
        </tr>
        {% for part in part_list %}
        {% if part.archive != True %}
        <tr>
        <td><a class = "ex2" href = "{{ part.get_absolute_url }}">{{part}}</a></td>
        <td>{{part.team}}  </td>
        <td>{{part.serial}}  </td>
        

        
            {# Component Prep Tasks with formating #}
         
        {% if pa}  
        {% if part.serial == part_component_prep_tasks.0.part.serial %}
        {% for item in CPDisplayList %}
        {% if item != "-" %}
        {% if item == part_component_prep_tasks.0.task %}
            {% if part_component_prep_tasks.0.status == "a" %}
            <td style = "text-align:center"><a href = "{{part_component_prep_tasks.0.get_absolute_url }}"><img src="{% static 'catalog/RedButton.webp' %}" alt="Not Started"></a></td>
            {% elif part_component_prep_tasks.0.status == "b" %}
            <td style = "text-align:center"><a href = "{{part_component_prep_tasks.0.get_absolute_url }}"><img src="{% static 'catalog/BlueButton.webp' %}" alt="In Progress"></a></td>
            {% elif part_component_prep_tasks.0.status == "z" %}
            <td style = "text-align:center"><a href = "{{part_component_prep_tasks.0.get_absolute_url }}"><img src="{% static 'catalog/GreenButton.webp' %}" alt="Task Complete"></a></td>
            {% elif part_component_prep_tasks.0.status == "h" %}
            <td style = "text-align:center"><a href = "{{part_component_prep_tasks.0.get_absolute_url }}"><img src="{% static 'catalog/YellowButton.webp' %}" alt="On Hold"></a></td>
            {% endif %}
        {% elif item == part_component_prep_tasks.1.task %}
            {% if part_component_prep_tasks.1.status == "a" %}
            <td style = "text-align:center"><a href = "{{part_component_prep_tasks.1.get_absolute_url }}"><img src="{% static 'catalog/RedButton.webp' %}" alt="Not Started"></a></td>
            {% elif part_component_prep_tasks.1.status == "b" %}
            <td style = "text-align:center"><a href = "{{part_component_prep_tasks.1.get_absolute_url }}"><img src="{% static 'catalog/BlueButton.webp' %}" alt="In Progress"></a></td>
            {% elif part_component_prep_tasks.1.status == "z" %}
            <td style = "text-align:center"><a href = "{{part_component_prep_tasks.1.get_absolute_url }}"><img src="{% static 'catalog/GreenButton.webp' %}" alt="Task Complete"></a></td>
            {% elif part_component_prep_tasks.1.status == "h" %}
            <td style = "text-align:center"><a href = "{{part_component_prep_tasks.1.get_absolute_url }}"><img src="{% static 'catalog/YellowButton.webp' %}" alt="On Hold"></a></td>
            {% endif %}
        {% elif item == part_component_prep_tasks.2.task %}
            {% if part_component_prep_tasks.2.status == "a" %}
            <td style = "text-align:center"><a href = "{{part_component_prep_tasks.2.get_absolute_url }}"><img src="{% static 'catalog/RedButton.webp' %}" alt="Not Started"></a></td>
            {% elif part_component_prep_tasks.2.status == "b" %}
            <td style = "text-align:center"><a href = "{{part_component_prep_tasks.2.get_absolute_url }}"><img src="{% static 'catalog/BlueButton.webp' %}" alt="In Progress"></a></td>
            {% elif part_component_prep_tasks.2.status == "z" %}
            <td style = "text-align:center"><a href = "{{part_component_prep_tasks.2.get_absolute_url }}"><img src="{% static 'catalog/GreenButton.webp' %}" alt="Task Complete"></a></td>
            {% elif part_component_prep_tasks.2.status == "h" %}
            <td style = "text-align:center"><a href = "{{part_component_prep_tasks.2.get_absolute_url }}"><img src="{% static 'catalog/YellowButton.webp' %}" alt="On Hold"></a></td>
            {% endif %}
        {% elif item == part_component_prep_tasks.3.task %}
            {% if part_component_prep_tasks.3.status == "a" %}
            <td style = "text-align:center"><a href = "{{part_component_prep_tasks.3.get_absolute_url }}"><img src="{% static 'catalog/RedButton.webp' %}" alt="Not Started"></a></td>
            {% elif part_component_prep_tasks.3.status == "b" %}
            <td style = "text-align:center"><a href = "{{part_component_prep_tasks.3.get_absolute_url }}"><img src="{% static 'catalog/BlueButton.webp' %}" alt="In Progress"></a></td>
            {% elif part_component_prep_tasks.3.status == "z" %}
            <td style = "text-align:center"><a href = "{{part_component_prep_tasks.3.get_absolute_url }}"><img src="{% static 'catalog/GreenButton.webp' %}" alt="Task Complete"></a></td>
            {% elif part_component_prep_tasks.3.status == "h" %}
            <td style = "text-align:center"><a href = "{{part_component_prep_tasks.3.get_absolute_url }}"><img src="{% static 'catalog/YellowButton.webp' %}" alt="On Hold"></a></td>
            {% endif %}
        {% elif item == part_component_prep_tasks.4.task %}
            {% if part_component_prep_tasks.4.status == "a" %}
            <td style = "text-align:center"><a href = "{{part_component_prep_tasks.4.get_absolute_url }}"><img src="{% static 'catalog/RedButton.webp' %}" alt="Not Started"></a></td>
            {% elif part_component_prep_tasks.4.status == "b" %}
            <td style = "text-align:center"><a href = "{{part_component_prep_tasks.4.get_absolute_url }}"><img src="{% static 'catalog/BlueButton.webp' %}" alt="In Progress"></a></td>
            {% elif part_component_prep_tasks.4.status == "z" %}
            <td style = "text-align:center"><a href = "{{part_component_prep_tasks.4.get_absolute_url }}"><img src="{% static 'catalog/GreenButton.webp' %}" alt="Task Complete"></a></td>
            {% elif part_component_prep_tasks.4.status == "h" %}
            <td style = "text-align:center"><a href = "{{part_component_prep_tasks.4.get_absolute_url }}"><img src="{% static 'catalog/YellowButton.webp' %}" alt="On Hold"></a></td>
            {% endif %}
        {% elif item == part_component_prep_tasks.5.task %}
            {% if part_component_prep_tasks.5.status == "a" %}
            <td style = "text-align:center"><a href = "{{part_component_prep_tasks.5.get_absolute_url }}"><img src="{% static 'catalog/RedButton.webp' %}" alt="Not Started"></a></td>
            {% elif part_component_prep_tasks.5.status == "b" %}
            <td style = "text-align:center"><a href = "{{part_component_prep_tasks.5.get_absolute_url }}"><img src="{% static 'catalog/BlueButton.webp' %}" alt="In Progress"></a></td>
            {% elif part_component_prep_tasks.5.status == "z" %}
            <td style = "text-align:center"><a href = "{{part_component_prep_tasks.5.get_absolute_url }}"><img src="{% static 'catalog/GreenButton.webp' %}" alt="Task Complete"></a></td>
            {% elif part_component_prep_tasks.5.status == "h" %}
            <td style = "text-align:center"><a href = "{{part_component_prep_tasks.5.get_absolute_url }}"><img src="{% static 'catalog/YellowButton.webp' %}" alt="On Hold"></a></td>
            {% endif %}
        {% elif item == part_component_prep_tasks.6.task %}
            {% if part_component_prep_tasks.6.status == "a" %}
            <td style = "text-align:center"><a href = "{{part_component_prep_tasks.6.get_absolute_url }}"><img src="{% static 'catalog/RedButton.webp' %}" alt="Not Started"></a></td>
            {% elif part_component_prep_tasks.6.status == "b" %}
            <td style = "text-align:center"><a href = "{{part_component_prep_tasks.6.get_absolute_url }}"><img src="{% static 'catalog/BlueButton.webp' %}" alt="In Progress"></a></td>
            {% elif part_component_prep_tasks.6.status == "z" %}
            <td style = "text-align:center"><a href = "{{part_component_prep_tasks.6.get_absolute_url }}"><img src="{% static 'catalog/GreenButton.webp' %}" alt="Task Complete"></a></td>
            {% elif part_component_prep_tasks.6.status == "h" %}
            <td style = "text-align:center"><a href = "{{part_component_prep_tasks.6.get_absolute_url }}"><img src="{% static 'catalog/YellowButton.webp' %}" alt="On Hold"></a></td>
            {% endif %}
        {% elif item == part_component_prep_tasks.7.task %}
            {% if part_component_prep_tasks.7.status == "a" %}
            <td style = "text-align:center"><a href = "{{part_component_prep_tasks.7.get_absolute_url }}"><img src="{% static 'catalog/RedButton.webp' %}" alt="Not Started"></a></td>
            {% elif part_component_prep_tasks.7.status == "b" %}
            <td style = "text-align:center"><a href = "{{part_component_prep_tasks.7.get_absolute_url }}"><img src="{% static 'catalog/BlueButton.webp' %}" alt="In Progress"></a></td>
            {% elif part_component_prep_tasks.7.status == "z" %}
            <td style = "text-align:center"><a href = "{{part_component_prep_tasks.7.get_absolute_url }}"><img src="{% static 'catalog/GreenButton.webp' %}" alt="Task Complete"></a></td>
            {% elif part_component_prep_tasks.7.status == "h" %}
            <td style = "text-align:center"><a href = "{{part_component_prep_tasks.7.get_absolute_url }}"><img src="{% static 'catalog/YellowButton.webp' %}" alt="On Hold"></a></td>
            {% endif %}
        {% elif item == part_component_prep_tasks.8.task %}
            {% if part_component_prep_tasks.8.status == "a" %}
            <td style = "text-align:center"><a href = "{{part_component_prep_tasks.8.get_absolute_url }}"><img src="{% static 'catalog/RedButton.webp' %}" alt="Not Started"></a></td>
            {% elif part_component_prep_tasks.8.status == "b" %}
            <td style = "text-align:center"><a href = "{{part_component_prep_tasks.8.get_absolute_url }}"><img src="{% static 'catalog/BlueButton.webp' %}" alt="In Progress"></a></td>
            {% elif part_component_prep_tasks.8.status == "z" %}
            <td style = "text-align:center"><a href = "{{part_component_prep_tasks.8.get_absolute_url }}"><img src="{% static 'catalog/GreenButton.webp' %}" alt="Task Complete"></a></td>
            {% elif part_component_prep_tasks.8.status == "h" %}
            <td style = "text-align:center"><a href = "{{part_component_prep_tasks.8.get_absolute_url }}"><img src="{% static 'catalog/YellowButton.webp' %}" alt="On Hold"></a></td>
            {% endif %}
        {% endif %}
        
        {% else %}
        <td>{{item}}</td>
        {% endif %}
        {% endfor %}
        
         {# Forming Tasks with formating #}
           
        {% for item in FODisplayList %}
        {% if item != "-" %}
        {% if item == part_forming_tasks.0.task %}
            {% if part_forming_tasks.0.status == "a" %}
            <td style = "text-align:center"><a href = "{{part_forming_tasks.0.get_absolute_url }}"><img src="{% static 'catalog/RedButton.webp' %}" alt="Not Started"></a></td>
            {% elif part_forming_tasks.0.status == "b" %}
            <td style = "text-align:center"><a href = "{{part_forming_tasks.0.get_absolute_url }}"><img src="{% static 'catalog/BlueButton.webp' %}" alt="In Progress"></a></td>
            {% elif part_forming_tasks.0.status == "z" %}
            <td style = "text-align:center"><a href = "{{part_forming_tasks.0.get_absolute_url }}"><img src="{% static 'catalog/GreenButton.webp' %}" alt="Task Complete"></a></td>
            {% elif part_forming_tasks.0.status == "h" %}
            <td style = "text-align:center"><a href = "{{part_forming_tasks.0.get_absolute_url }}"><img src="{% static 'catalog/YellowButton.webp' %}" alt="On Hold"></a></td>
            {% endif %}
        {% endif %}
        
        {% else %}
        <td>{{item}}</td>
        {% endif %}
        {% endfor %}
        
           {# Stacking Tasks with formating #}
           
        {% for item in STDisplayList %}
        {% if item != "-" %}
        {% if item == part_stacking_tasks.0.task %}
            {% if part_stacking_tasks.0.status == "a" %}
            <td style = "text-align:center"><a href = "{{part_stacking_tasks.0.get_absolute_url }}"><img src="{% static 'catalog/RedButton.webp' %}" alt="Not Started"></a></td>
            {% elif part_stacking_tasks.0.status == "b" %}
            <td style = "text-align:center"><a href = "{{part_stacking_tasks.0.get_absolute_url }}"><img src="{% static 'catalog/BlueButton.webp' %}" alt="In Progress"></a></td>
            {% elif part_stacking_tasks.0.status == "z" %}
            <td style = "text-align:center"><a href = "{{part_stacking_tasks.0.get_absolute_url }}"><img src="{% static 'catalog/GreenButton.webp' %}" alt="Task Complete"></a></td>
            {% elif part_stacking_tasks.0.status == "h" %}
            <td style = "text-align:center"><a href = "{{part_stacking_tasks.0.get_absolute_url }}"><img src="{% static 'catalog/YellowButton.webp' %}" alt="On Hold"></a></td>
            {% endif %}
        {% elif item == part_stacking_tasks.1.task %}
            {% if part_stacking_tasks.1.status == "a" %}
            <td style = "text-align:center"><a href = "{{part_stacking_tasks.1.get_absolute_url }}"><img src="{% static 'catalog/RedButton.webp' %}" alt="Not Started"></a></td>
            {% elif part_stacking_tasks.1.status == "b" %}
            <td style = "text-align:center"><a href = "{{part_stacking_tasks.1.get_absolute_url }}"><img src="{% static 'catalog/BlueButton.webp' %}" alt="In Progress"></a></td>
            {% elif part_stacking_tasks.1.status == "z" %}
            <td style = "text-align:center"><a href = "{{part_stacking_tasks.1.get_absolute_url }}"><img src="{% static 'catalog/GreenButton.webp' %}" alt="Task Complete"></a></td>
            {% elif part_stacking_tasks.1.status == "h" %}
            <td style = "text-align:center"><a href = "{{part_stacking_tasks.1.get_absolute_url }}"><img src="{% static 'catalog/YellowButton.webp' %}" alt="On Hold"></a></td>
            {% endif %}
        {% elif item == part_stacking_tasks.2.task %}
            {% if part_stacking_tasks.2.status == "a" %}
            <td style = "text-align:center"><a href = "{{part_stacking_tasks.2.get_absolute_url }}"><img src="{% static 'catalog/RedButton.webp' %}" alt="Not Started"></a></td>
            {% elif part_stacking_tasks.2.status == "b" %}
            <td style = "text-align:center"><a href = "{{part_stacking_tasks.2.get_absolute_url }}"><img src="{% static 'catalog/BlueButton.webp' %}" alt="In Progress"></a></td>
            {% elif part_stacking_tasks.2.status == "z" %}
            <td style = "text-align:center"><a href = "{{part_stacking_tasks.2.get_absolute_url }}"><img src="{% static 'catalog/GreenButton.webp' %}" alt="Task Complete"></a></td>
            {% elif part_stacking_tasks.2.status == "h" %}
            <td style = "text-align:center"><a href = "{{part_stacking_tasks.2.get_absolute_url }}"><img src="{% static 'catalog/YellowButton.webp' %}" alt="On Hold"></a></td>
            {% endif %}
        {% endif %}
        
        {% else %}
        <td>{{item}}</td>
        {% endif %}
        {% endfor %}
        
           {# Wire Cut Tasks with formating #}
           
        {% for item in WCDisplayList %}
        {% if item != "-" %}
        {% if item == part_wire_cut_tasks.0.task %}
            {% if part_wire_cut_tasks.0.status == "a" %}
            <td style = "text-align:center"><a href = "{{part_wire_cut_tasks.0.get_absolute_url }}"><img src="{% static 'catalog/RedButton.webp' %}" alt="Not Started"></a></td>
            {% elif part_wire_cut_tasks.0.status == "b" %}
            <td style = "text-align:center"><a href = "{{part_wire_cut_tasks.0.get_absolute_url }}"><img src="{% static 'catalog/BlueButton.webp' %}" alt="In Progress"></a></td>
            {% elif part_wire_cut_tasks.0.status == "z" %}
            <td style = "text-align:center"><a href = "{{part_wire_cut_tasks.0.get_absolute_url }}"><img src="{% static 'catalog/GreenButton.webp' %}" alt="Task Complete"></a></td>
            {% elif part_wire_cut_tasks.0.status == "h" %}
            <td style = "text-align:center"><a href = "{{part_wire_cut_tasks.0.get_absolute_url }}"><img src="{% static 'catalog/YellowButton.webp' %}" alt="On Hold"></a></td>
            {% endif %}
        {% endif %}
        
        {% else %}
        <td>{{item}}</td>
        {% endif %}
        {% endfor %}
                
        
                 {# Pitching Tasks with formating #}
           
        {% for item in PTDisplayList %}
        {% if item != "-" %}
        {% if item == part_pitching_tasks.0.task %}
            {% if part_pitching_tasks.0.status == "a" %}
            <td style = "text-align:center"><a href = "{{part_pitching_tasks.0.get_absolute_url }}"><img src="{% static 'catalog/RedButton.webp' %}" alt="Not Started"></a></td>
            {% elif part_pitching_tasks.0.status == "b" %}
            <td style = "text-align:center"><a href = "{{part_pitching_tasks.0.get_absolute_url }}"><img src="{% static 'catalog/BlueButton.webp' %}" alt="In Progress"></a></td>
            {% elif part_pitching_tasks.0.status == "z" %}
            <td style = "text-align:center"><a href = "{{part_pitching_tasks.0.get_absolute_url }}"><img src="{% static 'catalog/GreenButton.webp' %}" alt="Task Complete"></a></td>
            {% elif part_pitching_tasks.0.status == "h" %}
            <td style = "text-align:center"><a href = "{{part_pitching_tasks.0.get_absolute_url }}"><img src="{% static 'catalog/YellowButton.webp' %}" alt="On Hold"></a></td>
            {% endif %}
        {% elif item == part_pitching_tasks.1.task %}
            {% if part_pitching_tasks.1.status == "a" %}
            <td style = "text-align:center"><a href = "{{part_pitching_tasks.1.get_absolute_url }}"><img src="{% static 'catalog/RedButton.webp' %}" alt="Not Started"></a></td>
            {% elif part_pitching_tasks.1.status == "b" %}
            <td style = "text-align:center"><a href = "{{part_pitching_tasks.1.get_absolute_url }}"><img src="{% static 'catalog/BlueButton.webp' %}" alt="In Progress"></a></td>
            {% elif part_pitching_tasks.1.status == "z" %}
            <td style = "text-align:center"><a href = "{{part_pitching_tasks.1.get_absolute_url }}"><img src="{% static 'catalog/GreenButton.webp' %}" alt="Task Complete"></a></td>
            {% elif part_pitching_tasks.1.status == "h" %}
            <td style = "text-align:center"><a href = "{{part_pitching_tasks.1.get_absolute_url }}"><img src="{% static 'catalog/YellowButton.webp' %}" alt="On Hold"></a></td>
            {% endif %}
        {% endif %}
        
        {% else %}
        <td>{{item}}</td>
        {% endif %}
        {% endfor %}
        
        {# Header Plate Machining Tasks with formating #}
           
        {% for item in HPDisplayList %}
        {% if item != "-" %}
        {% if item == part_header_plate_tasks.0.task %}
            {% if part_header_plate_tasks.0.status == "a" %}
            <td style = "text-align:center"><a href = "{{part_header_plate_tasks.0.get_absolute_url }}"><img src="{% static 'catalog/RedButton.webp' %}" alt="Not Started"></a></td>
            {% elif part_header_plate_tasks.0.status == "b" %}
            <td style = "text-align:center"><a href = "{{part_header_plate_tasks.0.get_absolute_url }}"><img src="{% static 'catalog/BlueButton.webp' %}" alt="In Progress"></a></td>
            {% elif part_header_plate_tasks.0.status == "z" %}
            <td style = "text-align:center"><a href = "{{part_header_plate_tasks.0.get_absolute_url }}"><img src="{% static 'catalog/GreenButton.webp' %}" alt="Task Complete"></a></td>
            {% elif part_header_plate_tasks.0.status == "h" %}
            <td style = "text-align:center"><a href = "{{part_header_plate_tasks.0.get_absolute_url }}"><img src="{% static 'catalog/YellowButton.webp' %}" alt="On Hold"></a></td>
            {% endif %}
        {% elif item == part_header_plate_tasks.1.task %}
            {% if part_header_plate_tasks.1.status == "a" %}
            <td style = "text-align:center"><a href = "{part_header_plate_tasks.1.get_absolute_url }}"><img src="{% static 'catalog/RedButton.webp' %}" alt="Not Started"></a></td>
            {% elif part_header_plate_tasks.1.status == "b" %}
            <td style = "text-align:center"><a href = "{{part_header_plate_tasks.1.get_absolute_url }}"><img src="{% static 'catalog/BlueButton.webp' %}" alt="In Progress"></a></td>
            {% elif part_header_plate_tasks.1.status == "z" %}
            <td style = "text-align:center"><a href = "{{part_header_plate_tasks.1.get_absolute_url }}"><img src="{% static 'catalog/GreenButton.webp' %}" alt="Task Complete"></a></td>
            {% elif part_header_plate_tasks.1.status == "h" %}
            <td style = "text-align:center"><a href = "{{part_header_plate_tasks.1.get_absolute_url }}"><img src="{% static 'catalog/YellowButton.webp' %}" alt="On Hold"></a></td>
            {% endif %}
        {% endif %}
        
        {% else %}
        <td>{{item}}</td>
        {% endif %}
        {% endfor %}
        
        {# Deburr Tasks with formating #}
           
        {% for item in DBDisplayList %}
        {% if item != "-" %}
        {% if item == part_deburr_tasks.0.task %}
            {% if part_deburr_tasks.0.status == "a" %}
            <td style = "text-align:center"><a href = "{{part_deburr_tasks.0.get_absolute_url }}"><img src="{% static 'catalog/RedButton.webp' %}" alt="Not Started"></a></td>
            {% elif part_deburr_tasks.0.status == "b" %}
            <td style = "text-align:center"><a href = "{{part_deburr_tasks.0.get_absolute_url }}"><img src="{% static 'catalog/BlueButton.webp' %}" alt="In Progress"></a></td>
            {% elif part_deburr_tasks.0.status == "z" %}
            <td style = "text-align:center"><a href = "{{part_deburr_tasks.0.get_absolute_url }}"><img src="{% static 'catalog/GreenButton.webp' %}" alt="Task Complete"></a></td>
            {% elif part_deburr_tasks.0.status == "h" %}
            <td style = "text-align:center"><a href = "{{part_deburr_tasks.0.get_absolute_url }}"><img src="{% static 'catalog/YellowButton.webp' %}" alt="On Hold"></a></td>
            {% endif %}
        {% elif item == part_deburr_tasks.1.task %}
            {% if part_deburr_tasks.1.status == "a" %}
            <td style = "text-align:center"><a href = "{part_deburr_tasks.1.get_absolute_url }}"><img src="{% static 'catalog/RedButton.webp' %}" alt="Not Started"></a></td>
            {% elif part_deburr_tasks.1.status == "b" %}
            <td style = "text-align:center"><a href = "{{part_deburr_tasks.1.get_absolute_url }}"><img src="{% static 'catalog/BlueButton.webp' %}" alt="In Progress"></a></td>
            {% elif part_deburr_tasks.1.status == "z" %}
            <td style = "text-align:center"><a href = "{{part_deburr_tasks.1.get_absolute_url }}"><img src="{% static 'catalog/GreenButton.webp' %}" alt="Task Complete"></a></td>
            {% elif part_deburr_tasks.1.status == "h" %}
            <td style = "text-align:center"><a href = "{{part_deburr_tasks.1.get_absolute_url }}"><img src="{% static 'catalog/YellowButton.webp' %}" alt="On Hold"></a></td>
            {% endif %}
        {% endif %}
        
        {% else %}
        <td>{{item}}</td>
        {% endif %}
        {% endfor %}
        
            {# Plating Tasks with formating #}
           
        {% for item in PLDisplayList %}
        {% if item != "-" %}
        {% if item == part_plating_tasks.0.task %}
            {% if part_plating_tasks.0.status == "a" %}
            <td style = "text-align:center"><a href = "{{part_plating_tasks.0.get_absolute_url }}"><img src="{% static 'catalog/RedButton.webp' %}" alt="Not Started"></a></td>
            {% elif part_plating_tasks.0.status == "b" %}
            <td style = "text-align:center"><a href = "{{part_plating_tasks.0.get_absolute_url }}"><img src="{% static 'catalog/BlueButton.webp' %}" alt="In Progress"></a></td>
            {% elif part_plating_tasks.0.status == "z" %}
            <td style = "text-align:center"><a href = "{{part_plating_tasks.0.get_absolute_url }}"><img src="{% static 'catalog/GreenButton.webp' %}" alt="Task Complete"></a></td>
            {% elif part_plating_tasks.0.status == "h" %}
            <td style = "text-align:center"><a href = "{{part_plating_tasks.0.get_absolute_url }}"><img src="{% static 'catalog/YellowButton.webp' %}" alt="On Hold"></a></td>
            {% endif %}
        {% elif item == part_plating_tasks.1.task %}
            {% if part_plating_tasks.1.status == "a" %}
            <td style = "text-align:center"><a href = "{{part_plating_tasks.1.get_absolute_url }}"><img src="{% static 'catalog/RedButton.webp' %}" alt="Not Started"></a></td>
            {% elif part_plating_tasks.1.status == "b" %}
            <td style = "text-align:center"><a href = "{{part_plating_tasks.1.get_absolute_url }}"><img src="{% static 'catalog/BlueButton.webp' %}" alt="In Progress"></a></td>
            {% elif part_plating_tasks.1.status == "z" %}
            <td style = "text-align:center"><a href = "{{part_plating_tasks.1.get_absolute_url }}"><img src="{% static 'catalog/GreenButton.webp' %}" alt="Task Complete"></a></td>
            {% elif part_plating_tasks.1.status == "h" %}
            <td style = "text-align:center"><a href = "{{part_plating_tasks.1.get_absolute_url }}"><img src="{% static 'catalog/YellowButton.webp' %}" alt="On Hold"></a></td>
            {% endif %}
        {% elif item == part_plating_tasks.2.task %}
            {% if part_plating_tasks.2.status == "a" %}
            <td style = "text-align:center"><a href = "{{part_plating_tasks.2.get_absolute_url }}"><img src="{% static 'catalog/RedButton.webp' %}" alt="Not Started"></a></td>
            {% elif part_plating_tasks.2.status == "b" %}
            <td style = "text-align:center"><a href = "{{part_plating_tasks.2.get_absolute_url }}"><img src="{% static 'catalog/BlueButton.webp' %}" alt="In Progress"></a></td>
            {% elif part_plating_tasks.2.status == "z" %}
            <td style = "text-align:center"><a href = "{{part_plating_tasks.2.get_absolute_url }}"><img src="{% static 'catalog/GreenButton.webp' %}" alt="Task Complete"></a></td>
            {% elif part_plating_tasks.2.status == "h" %}
            <td style = "text-align:center"><a href = "{{part_plating_tasks.2.get_absolute_url }}"><img src="{% static 'catalog/YellowButton.webp' %}" alt="On Hold"></a></td>
            {% endif %}
        {% elif item == part_plating_tasks.3.task %}
            {% if part_plating_tasks.3.status == "a" %}
            <td style = "text-align:center"><a href = "{{part_plating_tasks.3.get_absolute_url }}"><img src="{% static 'catalog/RedButton.webp' %}" alt="Not Started"></a></td>
            {% elif part_plating_tasks.3.status == "b" %}
            <td style = "text-align:center"><a href = "{{part_plating_tasks.3.get_absolute_url }}"><img src="{% static 'catalog/BlueButton.webp' %}" alt="In Progress"></a></td>
            {% elif part_plating_tasks.3.status == "z" %}
            <td style = "text-align:center"><a href = "{{part_plating_tasks.3.get_absolute_url }}"><img src="{% static 'catalog/GreenButton.webp' %}" alt="Task Complete"></a></td>
            {% elif part_plating_tasks.3.status == "h" %}
            <td style = "text-align:center"><a href = "{{part_plating_tasks.3.get_absolute_url }}"><img src="{% static 'catalog/YellowButton.webp' %}" alt="On Hold"></a></td>
            {% endif %}
        {% endif %}
        
        {% else %}
        <td>{{item}}</td>
        {% endif %}
        {% endfor %}
        
        </tr>
        
        {% endif %}
        {% endfor %}
        </table>
        {% else %}
        <h5> There are no parts recorded in the system</h5>
        {% endif %}
        {% else %}
        <h5> There are no parts recorded in the system</h5>
        {% endif %}
{% endblock %}