{% extends "base_generic.html" %}
{% block content %}

<head>
<style>
table, th, td {
  border: 1px solid rgb(160,160,160);
  letter-spacing: 1px;
  font-size: 0.8rem;
  padding-left: 5px;
  padding-right: 5px;
}

a.ex3 {color: #bababa;
font-weight: bold;
}
a.ex2{color: #bababa; text-align:center}


th span 
{
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
}
</style>
</head>
{% load static %}
    <h1 style="color:#bababa"> Current Parts</h1>
    <hr>
    {% if user.is_authenticated %}
      <h5 style="color:#bababa">Admin Panel</h5>
      <p style="color:#bababa"><a class = "ex3" href = "{% url 'part-create' %}">Create new part</a></p>
      <hr>
      {% endif %}
      {% if part_list %}
      {% if Cores_not_in_Archive > 0 %}
        <table>
        <tr>
        <th bgcolor= "#636363"><a href = "" class = "ex3">Priority</a></th>
        <th bgcolor= "#636363"><a href = "" class = "ex3">Part</a></th>
        <th bgcolor= "#636363"><a href = "" class = "ex3">Team</a></th>
        <th bgcolor= "#636363"><a href = "" class = "ex3">Serial</a></th>
        <th bgcolor= "#636363" style = "text-align:center" colspan={{ Component_Prep_Tasks|length }}><a href = "{% url 'cptasks' %}" class = "ex3">Component Prep Tasks</a></th>
        <th bgcolor= "#636363" style = "text-align:center" colspan={{ Forming_Tasks|length }}><a href = "{% url 'formingtasks' %}" class = "ex3">Forming Tasks</a></th>
        <th bgcolor= "#636363" style = "text-align:center" colspan={{ Stacking_Tasks|length }}><a href = "{% url 'stackingtasks' %}" class = "ex3">Stacking Tasks</a></th>
        <th bgcolor= "#636363" style = "text-align:center" colspan={{ Wire_Cut_Tasks|length }}><a href = "{% url 'wirecuttasks' %}" class = "ex3">Wire Cut Tasks</a></th>
        <th bgcolor= "#636363" style = "text-align:center" colspan={{ Pitching_Tasks|length }}><a href = "{% url 'pitchingtasks' %}" class = "ex3">Pitching Tasks</a></th>
        <th bgcolor= "#636363" style = "text-align:center" colspan={{ HP_Tasks|length }}><a href = "{% url 'headerplatetasks' %}" class = "ex3">HP Machining Tasks</a></th>
        <th bgcolor= "#636363" style = "text-align:center" colspan={{ Deburr_Tasks|length }}><a href = "{% url 'deburrtasks' %}" class = "ex3">Deburr Tasks</a></th>
        <th bgcolor= "#636363" style = "text-align:center" colspan={{ Plating_Tasks|length }}><a href = "{% url 'platingtasks' %}" class = "ex3">Plating Tasks</a></th>
        </tr>
        
        <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        {% for task in Component_Prep_Tasks %}
        <th style = "text-align:center; color:#bababa"><span>{{task}}</span></th> 
        {% endfor %}
        {% for task in Forming_Tasks %}
        <th style = "text-align:center; color:#bababa"><span>{{task}}</span></th> 
        {% endfor %}
        {% for task in Stacking_Tasks %}
        <th style = "text-align:center; color:#bababa"><span>{{task}}</span></th> 
        {% endfor %}
        {% for task in Wire_Cut_Tasks %}
        <th style = "text-align:center; color:#bababa"><span>{{task}}</span></th> 
        {% endfor %}
        {% for task in Pitching_Tasks %}
        <th style = "text-align:center; color:#bababa"><span>{{task}}</span></th> 
        {% endfor %}
        {% for task in HP_Tasks %}
        <th style = "text-align:center; color:#bababa"><span>{{task}}</span></th> 
        {% endfor %}
        {% for task in Deburr_Tasks %}
        <th style = "text-align:center; color:#bababa"><span>{{task}}</span></th> 
        {% endfor %}
        {% for task in Plating_Tasks %}
        <th style = "text-align:center; color:#bababa"><span>{{task}}</span></th> 
        {% endfor %}
        

        </tr>
        {% for part in Current_Part_List %}
        {% if part.archive != True %}
        <tr>
        <td style = "text-align:center; color:#bababa">{{part.priority}}  </td>
        <td><a class = "ex2" href = "{{ part.get_absolute_url }}">{{part}}</a></td>
        <td style = "text-align:center; color:#bababa">{{part.team}}  </td>
        <td style = "text-align:center; color:#bababa">{{part.serial}}  </td>

        
            {# Component Prep Tasks with formating #}
        {% for tasker in CPpartlist|indexer:forloop.counter0 %}
        {% if tasker != "-" %}
            {% for parter in part_component_prep_tasks %}
            {% if parter.part.title == part.title %}
            {% if parter.part.serial == part.serial %}
            {% if parter.task == tasker %}
                {% if parter.status == 2 %}
                <td style = "text-align:center"><a href = "{{parter.get_absolute_url }}"><img src="{% static 'catalog/RedButton.webp' %}" alt="Not Started"></a></td>
                {% elif parter.status == 1 %}
                <td style = "text-align:center"><a href = "{{parter.get_absolute_url }}"><img src="{% static 'catalog/BlueButton.webp' %}" alt="In Progress"></a></td>
                {% elif parter.status == 10 %}
                <td style = "text-align:center"><a href = "{{parter.get_absolute_url }}"><img src="{% static 'catalog/GreenButton.webp' %}" alt="Task Complete"></a></td>
                {% else %}
                <td style = "text-align:center"><a href = "{{parter.get_absolute_url }}"><img src="{% static 'catalog/YellowButton.webp' %}" alt="On Hold"></a></td>
                {% endif %}
            {% endif %}
            {% endif %}
            {% endif %}
            {% endfor %}
        {% else %}
            <td style = "text-align:center; color:#bababa">-</td>
        {% endif %}
        {% endfor %}
        
            {# Forming Tasks with formating #}
        {% for tasker in FOpartlist|indexer:forloop.counter0 %}
        {% if tasker != "-" %}
            {% for parter in part_forming_tasks %}
            {% if parter.part.title == part.title %}
            {% if parter.part.serial == part.serial %}
            {% if parter.task == tasker %}
                {% if parter.status == 2 %}
                <td style = "text-align:center"><a href = "{{parter.get_absolute_url }}"><img src="{% static 'catalog/RedButton.webp' %}" alt="Not Started"></a></td>
                {% elif parter.status == 1 %}
                <td style = "text-align:center"><a href = "{{parter.get_absolute_url }}"><img src="{% static 'catalog/BlueButton.webp' %}" alt="In Progress"></a></td>
                {% elif parter.status == 10 %}
                <td style = "text-align:center"><a href = "{{parter.get_absolute_url }}"><img src="{% static 'catalog/GreenButton.webp' %}" alt="Task Complete"></a></td>
                {% else %}
                <td style = "text-align:center"><a href = "{{parter.get_absolute_url }}"><img src="{% static 'catalog/YellowButton.webp' %}" alt="On Hold"></a></td>
                {% endif %} 
            {% endif %}
            {% endif %}
            {% endif %}
            {% endfor %}
        {% else %}
            <td style = "text-align:center; color:#bababa">-</td>
        {% endif %}
        {% endfor %}
        
        
            {# Stacking Tasks with formating #}
        {% for tasker in STpartlist|indexer:forloop.counter0 %}
        {% if tasker != "-" %}
            {% for parter in part_stacking_tasks %}
            {% if parter.part.title == part.title %}
            {% if parter.part.serial == part.serial %}
            {% if parter.task == tasker %}
                {% if parter.status == 2 %}
                <td style = "text-align:center"><a href = "{{parter.get_absolute_url }}"><img src="{% static 'catalog/RedButton.webp' %}" alt="Not Started"></a></td>
                {% elif parter.status == 1 %}
                <td style = "text-align:center"><a href = "{{parter.get_absolute_url }}"><img src="{% static 'catalog/BlueButton.webp' %}" alt="In Progress"></a></td>
                {% elif parter.status == 10 %}
                <td style = "text-align:center"><a href = "{{parter.get_absolute_url }}"><img src="{% static 'catalog/GreenButton.webp' %}" alt="Task Complete"></a></td>
                {% else %}
                <td style = "text-align:center"><a href = "{{parter.get_absolute_url }}"><img src="{% static 'catalog/YellowButton.webp' %}" alt="On Hold"></a></td>
                {% endif %}
            {% endif %}
            {% endif %}
            {% endif %}
            {% endfor %}
        {% else %}
            <td style = "text-align:center; color:#bababa">-</td>
        {% endif %}
        {% endfor %}
        
        
            {# Wire Cut Tasks with formating #}
        {% for tasker in WCpartlist|indexer:forloop.counter0 %}
        {% if tasker != "-" %}
            {% for parter in part_wire_cut_tasks %}
            {% if parter.part.title == part.title %}
            {% if parter.part.serial == part.serial %}
            {% if parter.task == tasker %}
                {% if parter.status == 2 %}
                <td style = "text-align:center"><a href = "{{parter.get_absolute_url }}"><img src="{% static 'catalog/RedButton.webp' %}" alt="Not Started"></a></td>
                {% elif parter.status == 1 %}
                <td style = "text-align:center"><a href = "{{parter.get_absolute_url }}"><img src="{% static 'catalog/BlueButton.webp' %}" alt="In Progress"></a></td>
                {% elif parter.status == 10 %}
                <td style = "text-align:center"><a href = "{{parter.get_absolute_url }}"><img src="{% static 'catalog/GreenButton.webp' %}" alt="Task Complete"></a></td>
                {% else %}
                <td style = "text-align:center"><a href = "{{parter.get_absolute_url }}"><img src="{% static 'catalog/YellowButton.webp' %}" alt="On Hold"></a></td>
                {% endif %}
            {% endif %}
            {% endif %}
            {% endif %}
            {% endfor %}
        {% else %}
            <td style = "text-align:center; color:#bababa">-</td>
        {% endif %}
        {% endfor %}
        
        
            {# Pitching Tasks with formating #}
        {% for tasker in PTpartlist|indexer:forloop.counter0 %}
        {% if tasker != "-" %}
            {% for parter in part_pitching_tasks %}
            {% if parter.part.title == part.title %}
            {% if parter.part.serial == part.serial %}
            {% if parter.task == tasker %}
                {% if parter.status == 2 %}
                <td style = "text-align:center"><a href = "{{parter.get_absolute_url }}"><img src="{% static 'catalog/RedButton.webp' %}" alt="Not Started"></a></td>
                {% elif parter.status == 1 %}
                <td style = "text-align:center"><a href = "{{parter.get_absolute_url }}"><img src="{% static 'catalog/BlueButton.webp' %}" alt="In Progress"></a></td>
                {% elif parter.status == 10 %}
                <td style = "text-align:center"><a href = "{{parter.get_absolute_url }}"><img src="{% static 'catalog/GreenButton.webp' %}" alt="Task Complete"></a></td>
                {% else %}
                <td style = "text-align:center"><a href = "{{parter.get_absolute_url }}"><img src="{% static 'catalog/YellowButton.webp' %}" alt="On Hold"></a></td>
                {% endif %}
            {% endif %}
            {% endif %}
            {% endif %}
            {% endfor %}
        {% else %}
            <td style = "text-align:center; color:#bababa">-</td>
        {% endif %}
        {% endfor %}
        
        
            {# Header Plate Tasks with formating #}
        {% for tasker in HPpartlist|indexer:forloop.counter0 %}
        {% if tasker != "-" %}
            {% for parter in part_header_plate_tasks %}
            {% if parter.part.title == part.title %}
            {% if parter.part.serial == part.serial %}
            {% if parter.task == tasker %}
                {% if parter.status == 2 %}
                <td style = "text-align:center"><a href = "{{parter.get_absolute_url }}"><img src="{% static 'catalog/RedButton.webp' %}" alt="Not Started"></a></td>
                {% elif parter.status == 1 %}
                <td style = "text-align:center"><a href = "{{parter.get_absolute_url }}"><img src="{% static 'catalog/BlueButton.webp' %}" alt="In Progress"></a></td>
                {% elif parter.status == 10 %}
                <td style = "text-align:center"><a href = "{{parter.get_absolute_url }}"><img src="{% static 'catalog/GreenButton.webp' %}" alt="Task Complete"></a></td>
                {% else %}
                <td style = "text-align:center"><a href = "{{parter.get_absolute_url }}"><img src="{% static 'catalog/YellowButton.webp' %}" alt="On Hold"></a></td>
                {% endif %}
            {% endif %}
            {% endif %}
            {% endif %}
            {% endfor %}
        {% else %}
            <td style = "text-align:center; color:#bababa">-</td>
        {% endif %}
        {% endfor %}
        
        
                    {# Deburr Tasks with formating #}
        {% for tasker in DBpartlist|indexer:forloop.counter0 %}
        {% if tasker != "-" %}
            {% for parter in part_deburr_tasks %}
            {% if parter.part.title == part.title %}
            {% if parter.part.serial == part.serial %}
            {% if parter.task == tasker %}
                {% if parter.status == 2 %}
                <td style = "text-align:center"><a href = "{{parter.get_absolute_url }}"><img src="{% static 'catalog/RedButton.webp' %}" alt="Not Started"></a></td>
                {% elif parter.status == 1 %}
                <td style = "text-align:center"><a href = "{{parter.get_absolute_url }}"><img src="{% static 'catalog/BlueButton.webp' %}" alt="In Progress"></a></td>
                {% elif parter.status == 10 %}
                <td style = "text-align:center"><a href = "{{parter.get_absolute_url }}"><img src="{% static 'catalog/GreenButton.webp' %}" alt="Task Complete"></a></td>
                {% else %}
                <td style = "text-align:center"><a href = "{{parter.get_absolute_url }}"><img src="{% static 'catalog/YellowButton.webp' %}" alt="On Hold"></a></td>
                {% endif %}
            {% endif %}
            {% endif %}
            {% endif %}
            {% endfor %}
        {% else %}
            <td style = "text-align:center; color:#bababa">-</td>
        {% endif %}
        {% endfor %}

                            {# Plating Tasks with formating #}
        {% for tasker in PLpartlist|indexer:forloop.counter0 %}
        {% if tasker != "-" %}
            {% for parter in part_plating_tasks %}
            {% if parter.part.title == part.title %}
            {% if parter.part.serial == part.serial %}
            {% if parter.task == tasker %}
                {% if parter.status == 2 %}
                <td style = "text-align:center"><a href = "{{parter.get_absolute_url }}"><img src="{% static 'catalog/RedButton.webp' %}" alt="Not Started"></a></td>
                {% elif parter.status == 1 %}
                <td style = "text-align:center"><a href = "{{parter.get_absolute_url }}"><img src="{% static 'catalog/BlueButton.webp' %}" alt="In Progress"></a></td>
                {% elif parter.status == 10 %}
                <td style = "text-align:center"><a href = "{{parter.get_absolute_url }}"><img src="{% static 'catalog/GreenButton.webp' %}" alt="Task Complete"></a></td>
                {% else %}
                <td style = "text-align:center"><a href = "{{parter.get_absolute_url }}"><img src="{% static 'catalog/YellowButton.webp' %}" alt="On Hold"></a></td>
                {% endif %}
            {% endif %}
            {% endif %}
            {% endif %}
            {% endfor %}
        {% else %}
            <td style = "text-align:center; color:#bababa">-</td>
        {% endif %}
        {% endfor %}
        
        </tr>
        
        {% endif %}
        {% endfor %}
        </table>
        {% else %}
        <h5> There are no parts recorded in the system</h5>
        {% endif %}
        {% else %}
        <h5> There are no parts recorded in the system</h5>
        {% endif %}
{% endblock %}
