{% extends "base_generic.html" %}

{% block content %}
  <h1>{{componentpreptaskinstance.part}} 
  ({{componentpreptaskinstance.part.team}}) - 
  {{componentpreptaskinstance}}</h1>
  <div style="margin-left:20px;margin-top:20px">
    <h4>Status: 
    <span class= "{% if componentpreptaskinstance.status == 'c' %}text-success
    {% elif componentpreptaskinstance.status == 'h' %}text-warning
    {% elif componentpreptaskinstance.status == 'p' %}text-info
    {% else %}text-body{% endif %}">
    {{componentpreptaskinstance.get_status_display}}</span>
    {% if user.is_authenticated %} 
    -
    <a href = "{% url 'cptask-update-status' componentpreptaskinstance.pk %}">
     Edit status</a>, <a href="{% url 'cptask-delete' componentpreptaskinstance.pk %}">Delete Task</a>
    {% endif %}
    </h4>
      <hr>
     <h5>Current options</h5>
    {% if componentpreptaskinstance.status == 'c' %}
    <p>Task Complete</p> 
    {% elif componentpreptaskinstance.status == 'h' %}
    <p><a href="">Resume Task</a></p>
    {% elif componentpreptaskinstance.status == 'a' %}
    <p><a href="">Begin Task</a></p>
    {% elif componentpreptaskinstance.status == 'p' %}
    <p><a href="">Finish Task</a></p>
    {% endif %}
  </div>
{% endblock %}