<html>
<head>
<style>
div.ex3 {color: black;}
</style>
{% extends "base_generic.html" %}
{% load static %}
</head>
<body>
{% block content %}
  <h1><a href ="{% url 'part-detail' deburrtaskinstance.part.pk %}">{{deburrtaskinstance.part}} 
  ({{deburrtaskinstance.part.team}}) Serial: {{deburrtaskinstance.part.serial}}</a> - 
  {{deburrtaskinstance}}</h1>
  <div style="margin-left:20px;margin-top:20px">
    <h4>Status: </h4>
   {% if deburrtaskinstance.status == "z" %}
    <span title="Task Complete">
      <div class = "text-success">{{deburrtaskinstance.part}} ({{deburrtaskinstance.part.team}}) Serial: {{deburrtaskinstance.part.serial}} - {{deburrtaskinstance.task}}</div>
       <img src="{% static 'catalog/tick.png' %}" alt="Complete">
       </span>
    {% elif deburrtaskinstance.status == "b" %}
    <span title="Task in progress">
      <div class = "text-info">{{deburrtaskinstance.part}} ({{deburrtaskinstance.part.team}}) Serial: {{deburrtaskinstance.part.serial}} - {{deburrtaskinstance.task}}</div>
       <img src="{% static 'catalog/alarm-clock--arrow.png' %}" alt="In Progress">
       </span>
    {% elif deburrtaskinstance.status == "h" %}
    <span title="Task on hold">
       <div class = "text-warning">{{deburrtaskinstance.part}} ({{deburrtaskinstance.part.team}}) Serial: {{deburrtaskinstance.part.serial}} - {{deburrtaskinstance.task}}</div>
       <img src="{% static 'catalog/alarm-clock--exclamation.png' %}" alt="On hold">
       </span>
       {% elif deburrtaskinstance.status == "a" %}
       <span title="Task not yet started">
        <div class = "ex3">{{deburrtaskinstance.part}} ({{deburrtaskinstance.part.team}}) Serial: {{deburrtaskinstance.part.serial}} - {{deburrtaskinstance.task}}</div>
      <span class = "text-success">
      (Avaliable)
      </span>
      </span>
      {% else %}
      <span title="Task Failed">
       <div  class = "text-danger" href = "{{newtask.get_absolute_url}}">{{newtask.part}} ({{newtask.part.team}}) Serial: {{newtask.part.serial}} - {{newtask.task}}</div>
       </span>
      {% endif %}
    {{deburrtaskinstance.get_status_display}}
    {% if user.is_authenticated %} 
    -
    <a href = "{% url 'deburrtask-update-status' deburrtaskinstance.pk %}">
     Edit status</a>, <a href="{% url 'deburrtask-delete' deburrtaskinstance.pk %}">Delete Task</a>
    {% endif %}
    
      <hr>
     <h5>Current options</h5>
    {% if deburrtaskinstance.part in header_plate_tasks_not_completed %}
    <p> Pitching and Header Plate Machining tasks incomplete </p>
    {% else %}
    {% if deburrtaskinstance.status == 'z' %}
    <p>Task Complete</p> 
    {% elif deburrtaskinstance.status == 'h' %}
    <p><a href="{% url 'startdeburrtask' pk=deburrtaskinstance.pk %}">Resume Task</a></p>
    {% elif deburrtaskinstance.status == 'a' %}
    <p><a href="{% url 'startdeburrtask' pk=deburrtaskinstance.pk %}">Begin Task</a></p>
    {% elif deburrtaskinstance.status == 'b' %}
    <p><a href="{% url 'finishdeburrtask' pk=deburrtaskinstance.pk %}">Finish Task</a></p>
    {% endif %}
    {% endif %}
  </div>
{% endblock %}