{% extends "base_generic.html" %}

{% block content %}
  <h1>{{formingtaskinstance.part}} 
  ({{formingtaskinstance.part.team}}) - 
  {{formingtaskinstance}}</h1>
  <div style="margin-left:20px;margin-top:20px">
    <h4>Status: 
    <span class= "{% if formingtaskinstance.status == 'c' %}text-success
    {% elif formingtaskinstance.status == 'h' %}text-warning
    {% elif formingtaskinstance.status == 'p' %}text-info
    {% else %}text-body{% endif %}">
    {{formingtaskinstance.get_status_display}}</span>
    {% if user.is_authenticated %} 
    -
    <a href = "{% url 'formingtask-update-status' formingtaskinstance.pk %}">
     Edit status</a>, <a href="">Delete Task</a>
    {% endif %}
    </h4>
      <hr>
     <h5>Current options</h5>
    {% if formingtaskinstance.status == 'c' %}
    <p>Task Complete</p> 
    {% elif formingtaskinstance.status == 'h' %}
    <p><a href="">Resume Task</a></p>
    {% elif formingtaskinstance.status == 'a' %}
    <p><a href="">Begin Task</a></p>
    {% elif formingtaskinstance.status == 'p' %}
    <p><a href="">Finish Task</a></p>
    {% endif %}
  </div>
{% endblock %}