{% extends "base_generic.html" %}
{% block content %}
{% load static %}
<html>
<head>
<style>

a.ex3 {color: #bababa;}
a.ex2{color: #d6d6d6;font-weight: 600}

</style>
</head>
<body>

  <h1><a href ="{% url 'part-detail' formingtaskinstance.part.pk %}">{{formingtaskinstance.part}} 
  ({{formingtaskinstance.part.team}}) Serial: {{formingtaskinstance.part.serial}}</a> - 
  {{formingtaskinstance}}</h1>
  <div style="margin-left:20px;margin-top:20px">
    <h4>Status: </h4>
{% if formingtaskinstance.status == 10 %}
    <span title="Task Complete">
      <div class = "text-success">Task Complete <img src="{% static 'catalog/tick.png' %}" alt="Complete"></div>
       </span>
    {% elif formingtaskinstance.status == 1 %}
    <span title="Task in progress">
      <div class = "text-info">In Progress <img src="{% static 'catalog/alarm-clock--arrow.png' %}" alt="In Progress"></div>
       </span>
    {% elif formingtaskinstance.status == 3 %}
    <span title="Task on hold">
       <div class = "text-warning">Task On Hold <img src="{% static 'catalog/alarm-clock--exclamation.png' %}" alt="On hold"></div>
       </span>
       {% elif formingtaskinstance.status == 2 %}
       <span title="Task not yet started">
      <span class = "text-success">
      Avaliable To Start
      </span>
      </span>
      {% else %}
      <span title="Task Failed">
       <div  class = "text-danger" href = "{{newtask.get_absolute_url}}">{{newtask.part}} ({{newtask.part.team}}) Serial: {{newtask.part.serial}} - {{newtask.task}}</div>
       </span>
      {% endif %}
    {% if user.is_authenticated %} 
    <hr>
    <h5> Admin Pannel </h5>
    <a class = "ex2" href = "{% url 'formingtask-update-status' formingtaskinstance.pk %}">
     Edit status</a>, <a class = "ex2" href="{% url 'formingtask-delete' formingtaskinstance.pk %}">Delete Task</a>
     
     <div>Task Created: {{formingtaskinstance.createtime}}</div>
     {% if formingtaskinstance.starttime == None %}
     <div>Task Not Yet Started</div>
     {% else %}
     <div>Task Started: {{formingtaskinstance.starttime}}</div>
     <div>Time untill Task was started: {{formingtaskinstance.timetostart}}</div>
     
     {% endif %}
     {% if formingtaskinstance.finishtime == None %}
     {% else %}
     <div>Task Finished: {{formingtaskinstance.finishtime}}</div>
     <div> Time Taken: {{formingtaskinstance.timetaken}}</div>
     {% endif %}
    {% endif %}
    
      <hr>
     <h5>Current options</h5>
    {% if formingtaskinstance.status == 10 %}
    <p>Task Complete</p> 
    {% elif formingtaskinstance.status == 3 %}
    <p><a href="{% url 'startformingtask' pk=formingtaskinstance.pk %}">Resume Task</a></p>
    {% elif formingtaskinstance.status == 2 %}
    <p><a href="{% url 'startformingtask' pk=formingtaskinstance.pk %}">Begin Task</a></p>
    {% elif formingtaskinstance.status == 1 %}
    <p><a href="{% url 'finishformingtask' pk=formingtaskinstance.pk %}">Finish Task</a></p>
    {% endif %}
{% endblock %}