{% extends "base_generic.html" %}

{% block content %}
  <h1>Header Plate Machining Tasks</h1>
  <hr>
  {% if headerplatetask_list %} 
  <h4>Tasks Remaining: {{tasks_remaining}}</h4>
  {% if user.is_authenticated %}
  <hr>
  <h5>Admin Panel</h5>
  <div>Tasks not yet started: {{num_tasks_not_started}} </div>
  <hr>
  {% endif %}
  <ul>
    {% for newtask in headerplatetask_list %}
      <li> 
      {% if newtask.part in pitching_tasks_not_completed %}
      {{newtask.part}} ({{newtask.part.team}}) Serial: {{newtask.part.serial}}
      - {{newtask.task}}
      <span class = "text-danger">
       (Not Avaliable)
      </span>
      {% else %}
      <a href = "{{newtask.get_absolute_url}}">{{newtask.part}} 
      ({{newtask.part.team}}) Serial: {{newtask.part.serial}}
      - {{newtask.task}}</a>

      <span class ="{% if newtask.status == 'c' %}text-success 
      {% elif newtask.status == 'h' %}text-warning 
      {% elif newtask.status == 'p' %}text-info 
      {% else %}text-body{% endif %}">
       - {{ newtask.get_status_display }}</span>
       {% if newtask.status == "a" %}
      <span class = "text-success">
       (Avaliable)
      </span>
      {% endif %}
      {% endif %}
        </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no tasks currently listed.</p>
  {% endif %} 
{% endblock %}