{% extends "base_generic.html" %}
{% block content %}
{% load static %}
<html>
<head>
<style>
div.ex3 {color: #bababa;}
a.ex2{color: #d6d6d6;font-weight: 600}
</style>

</head>
<body>

  <h1><a href ="{% url 'part-detail' headerplatetaskinstance.part.pk %}">{{headerplatetaskinstance.part}} 
  ({{headerplatetaskinstance.part.team}}) 
  Serial: {{headerplatetaskinstance.part.serial}}</a> - 
  {{headerplatetaskinstance}}</h1>
  <div style="margin-left:20px;margin-top:20px">
    <h4>Status: </h4>
   {% if headerplatetaskinstance.status == 10 %}
    <span title="Task Complete">
      <div class = "text-success">Task Complete <img src="{% static 'catalog/tick.png' %}" alt="Complete"></div>
       </span>
    {% elif headerplatetaskinstance.status == 1 %}
    <span title="Task in progress">
      <div class = "text-info">In Progress <img src="{% static 'catalog/alarm-clock--arrow.png' %}" alt="In Progress"></div>
       </span>
    {% elif headerplatetaskinstance.status == 3 %}
    <span title="Task on hold">
       <div class = "text-warning">Task On Hold <img src="{% static 'catalog/alarm-clock--exclamation.png' %}" alt="On hold"></div>
       </span>
       {% elif headerplatetaskinstance.status == 2 %}
       <span title="Task not yet started">
      <span class = "text-success">
      Avaliable To Start
      </span>
      </span>
      {% else %}
      <span title="Task Failed">
       <div  class = "text-danger" href = "{{newtask.get_absolute_url}}">{{newtask.part}} ({{newtask.part.team}}) Serial: {{newtask.part.serial}} - {{newtask.task}}</div>
       </span>
      {% endif %}
    {% if user.is_authenticated %} 
    <hr>
    <h5> Admin Pannel </h5>
    <a class = "ex2" href = "{% url 'hptask-update-status' headerplatetaskinstance.pk %}">
     Edit status</a>, <a class = "ex2" href="{% url 'hptask-delete' headerplatetaskinstance.pk %}">Delete Task</a>
     
     <div>Task Created: {{headerplatetaskinstance.createtime}}</div>
     {% if headerplatetaskinstance.starttime == None %}
     <div>Task Not Yet Started</div>
     {% else %}
     <div>Task Started: {{headerplatetaskinstance.starttime}}</div>
     <div>Time untill Task was started: {{headerplatetaskinstance.timetostart}}</div>
     
     {% endif %}
     {% if headerplatetaskinstance.finishtime == None %}
     {% else %}
     <div>Task Finished: {{headerplatetaskinstance.finishtime}}</div>
     <div> Time Taken: {{headerplatetaskinstance.timetaken}}</div>
     {% endif %}
    {% endif %}
    
      <hr>
     <h5>Current options</h5>
    {% if headerplatetaskinstance.status == 10 %}
    <p>Task Complete</p> 
    {% elif headerplatetaskinstance.status == 3 %}
    <p><a href="{% url 'starthptask' pk=headerplatetaskinstance.pk %}">Resume Task</a></p>
    {% elif headerplatetaskinstance.status == 2 %}
    <p><a href="{% url 'starthptask' pk=headerplatetaskinstance.pk %}">Begin Task</a></p>
    {% elif headerplatetaskinstance.status == 1 %}
    <p><a href="{% url 'finishhptask' pk=headerplatetaskinstance.pk %}">Finish Task</a></p>
    {% endif %}
  </div>
{% endblock %}