{% extends "base_generic.html" %}

{% block content %}

<h1>{{part}} ({{part.team}}) Serial: {{part.serial}} </h1>
{% if part.archive != True %}
{% if user.is_authenticated %}
<hr>
<h5>Admin Panel</h5>
<li><a href = "{% url 'part-update' part.pk %}">Update part</a></li>
<li><a href = "{% url 'part-delete' part.pk %}">Delete part</a></li>
<hr>
{% endif %}
<div style="margin-left:20px;margin-top:20px">
<h4>Current Component Prep Tasks</h4>
<hr>
{% if part in component_prep_tasks_not_completed %}
{% for task in part_component_prep_tasks %}
{% if task.part == part %}
<li> <a href = "{% url 'cptask-detail' task.pk %}">{{task}}</a> 
      <span class ="{% if task.status == 'c' %}text-success
       {% elif task.status == 'h' %}text-warning 
       {% elif task.status == 'p' %}text-info {% else %}
       text-body{% endif %}">
       - {{task.get_status_display}} </span> 
{% if task.status == "a" %}
<span class = "text-success"> (Avaliable) </span>{% endif %}
</li>
{% endif %}
{% endfor %}

</h5>
{% else %}
<h5 class = "text-success">
Component Prep Tasks Complete
</h5>
{% endif %}

<br>
<h4>Current Forming Tasks</h4>
<hr>
{% if part in forming_tasks_not_completed %}
{% for task in part_forming_tasks %}
{% if task.part == part %}
<li><a href = "{% url 'formingtask-detail' task.pk %}">{{task}}</a>
<span class ="{% if task.status == 'c' %}text-success {% elif task.status == 'h' %}
      text-warning {% elif task.status == 'p' %}
      text-info {% else %}text-body{% endif %}">
      - {{task.get_status_display}} </span>
{% if task.status == "a" %}
<span class = "text-success"> (Avaliable) </span>{% endif %}
</li>
{% endif %}
{% endfor %}
{% else %}
<h5 class = "text-success">
Forming Tasks Complete
</h5>
{% endif %}

<br>
<h4>Current Stacking Tasks</h4>
<hr>
{% if part in stacking_tasks_not_completed %}

{% for task in part_stacking_tasks %}
{% if task.part == part %}
<li>    {% if task.part in component_prep_tasks_not_completed %}
      {{task}}
      <span class = "text-danger">
       (Not Avaliable)
      </span>
      {% else %}
      <a href = "{% url 'stackingtask-detail' task.pk %}">{{task}}</a> 
      <span class ="{% if task.status == 'c' %}text-success {% elif task.status == 'h' %}
      text-warning {% elif task.status == 'p' %}
      text-info {% else %}text-body{% endif %}">
      - {{task.get_status_display}} </span>
      {% if task.status == "a" %}
        <span class = "text-success"> (Avaliable) </span>{% endif %}
      {% endif %}
       </li>
{% endif %}
{% endfor %}

{% else %}
<h5 class = "text-success"> Stacking Tasks Complete </h5>
{% endif %}

<br>
<h4>Current Wire Cut Tasks</h4>
<hr>
{% if part in wire_cut_tasks_not_completed %}

{% for task in part_wire_cut_tasks %}
{% if task.part == part %}
<li>    {% if task.part in stacking_tasks_not_completed %}
      {{task}}
      <span class = "text-danger">
       (Not Avaliable)
      </span>
      {% else %}
      <a href = "{% url 'wirecuttask-detail' task.pk %}">{{task}}</a> 
      <span class ="{% if task.status == 'c' %}text-success {% elif task.status == 'h' %}
      text-warning {% elif task.status == 'p' %}
      text-info {% else %}text-body{% endif %}">
      - {{task.get_status_display}} </span>
      {% if task.status == "a" %}
        <span class = "text-success"> (Avaliable) </span>{% endif %}
      {% endif %}
       </li>
{% endif %}
{% endfor %}

{% else %}
<h5 class = "text-success"> Wire Cut Tasks Complete </h5>
{% endif %}

<br>
<h4>Current Pitching Tasks</h4>
<hr>
{% if part in pitching_tasks_not_completed %}
{% for task in part_pitching_tasks %}
{% if task.part == part %}
<li>    {% if task.part in wire_cut_tasks_not_completed %}
      {{task}}
      <span class = "text-danger">
       (Not Avaliable)
      </span>
      {% else %}
      <a href = "{% url 'pitchingtask-detail' task.pk %}">{{task}}</a> 
      <span class ="{% if task.status == 'c' %}text-success {% elif task.status == 'h' %}
      text-warning {% elif task.status == 'p' %}
      text-info {% else %}text-body{% endif %}">
      - {{task.get_status_display}} </span>
      {% if task.status == "a" %}
        <span class = "text-success"> (Avaliable) </span>{% endif %}
      {% endif %}
       </li>
{% endif %}
{% endfor %}

{% else %}
<h5 class = "text-success"> Pitching Tasks Complete </h5>
{% endif %}

<br>
<h4>Current Header Plate Machining Tasks</h4>
<hr>
{% if part in HP_tasks_not_completed %}
{% for task in part_header_plate_tasks %}
{% if task.part == part %}
<li>    {% if task.part in pitching_tasks_not_completed %}
      {{task}}
      <span class = "text-danger">
       (Not Avaliable)
      </span>
      {% else %}
      <a href = "{% url 'hptask-detail' task.pk %}">{{task}}</a> 
      <span class ="{% if task.status == 'c' %}text-success {% elif task.status == 'h' %}
      text-warning {% elif task.status == 'p' %}
      text-info {% else %}text-body{% endif %}">
      - {{task.get_status_display}} </span>
      {% if task.status == "a" %}
        <span class = "text-success"> (Avaliable) </span>{% endif %}
      {% endif %}
       </li>
{% endif %}
{% endfor %}

{% else %}
<h5 class = "text-success"> Header Plate Machining Tasks Complete </h5>
{% endif %}

<br>
<h4>Current Deburr Tasks</h4>
<hr>
{% if part in deburr_tasks_not_completed %}
{% for task in part_deburr_tasks %}
{% if task.part == part %}
<li>    {% if task.part in HP_tasks_not_completed %}
      {{task}}
      <span class = "text-danger">
       (Not Avaliable)
      </span>
      {% else %}
      <a href = "{% url 'deburrtask-detail' task.pk %}">{{task}}</a> 
      <span class ="{% if task.status == 'c' %}text-success {% elif task.status == 'h' %}
      text-warning {% elif task.status == 'p' %}
      text-info {% else %}text-body{% endif %}">
      - {{task.get_status_display}} </span>
      {% if task.status == "a" %}
        <span class = "text-success"> (Avaliable) </span>{% endif %}
      {% endif %}
       </li>
{% endif %}
{% endfor %}

{% else %}
<h5 class = "text-success">Deburr Tasks Complete </h5>
{% endif %}

<br>
<h4>Current Plating Tasks</h4>
<hr>
{% if part in plating_tasks_not_completed %}
{% for task in part_plating_tasks %}
{% if task.part == part %}
<li>    {% if task.part in deburr_tasks_not_completed %}
      {{task}}
      <span class = "text-danger">
       (Not Avaliable)
      </span>
      {% else %}
      <a href = "{% url 'platingtask-detail' task.pk %}">{{task}}</a> 
      <span class ="{% if task.status == 'c' %}text-success {% elif task.status == 'h' %}
      text-warning {% elif task.status == 'p' %}
      text-info {% else %}text-body{% endif %}">
      - {{task.get_status_display}} </span>
      {% if task.status == "a" %}
        <span class = "text-success"> (Avaliable) </span>{% endif %}
      {% endif %}
       </li>
{% endif %}
{% endfor %}

{% else %}
<h5 class = "text-success"> Plating Tasks Complete </h5>
{% endif %}
</div>
<br>
<br>
{% else %}
{# Archived Core #}
{% if user.is_authenticated %}
<h5 class ="text-danger"> Archived Core</h5>
<hr>
<h5>Admin Panel</h5>
<li><a href = "{% url 'part-delete' part.pk %}">Delete part</a></li>
<hr>

<h4>Component Prep Tasks</h4>
<hr>
{% for task in part_component_prep_tasks %}
{% if task.part == part %}
<li> <a href = "{% url 'cptask-detail' task.pk %}">{{task}}</a> 
</li>
<br>
{% endif %}
{% endfor %}

<h4>Forming Tasks</h4>
<hr>
{% for task in part_forming_tasks %}
{% if task.part == part %}
<li> <a href = "{% url 'formingtask-detail' task.pk %}">{{task}}</a> 
</li>
<br>
{% endif %}
{% endfor %}

<h4>Stacking Tasks</h4>
<hr>
{% for task in part_stacking_tasks %}
{% if task.part == part %}
<li> <a href = "{% url 'stackingtask-detail' task.pk %}">{{task}}</a> 
</li>
<br>
{% endif %}
{% endfor %}

<h4>Wire Cut Tasks</h4>
<hr>
{% for task in part_wire_cut_tasks %}
{% if task.part == part %}
<li> <a href = "{% url 'wirecuttask-detail' task.pk %}">{{task}}</a> 
</li>
<br>
{% endif %}
{% endfor %}

<h4>Pitching Tasks</h4>
<hr>
{% for task in part_pitching_tasks %}
{% if task.part == part %}
<li> <a href = "{% url 'pitchingtask-detail' task.pk %}">{{task}}</a> 
</li>
<br>
{% endif %}
{% endfor %}

<h4>Header Plate Machining Tasks</h4>
<hr>
{% for task in part_header_plate_tasks %}
{% if task.part == part %}
<li> <a href = "{% url 'hptask-detail' task.pk %}">{{task}}</a> 
</li>
<br>
{% endif %}
{% endfor %}

<h4>Deburring Tasks</h4>
<hr>
{% for task in part_deburr_tasks %}
{% if task.part == part %}
<li> <a href = "{% url 'deburrtask-detail' task.pk %}">{{task}}</a> 
</li>
<br>
{% endif %}
{% endfor %}

<h4>Plating Tasks</h4>
<hr>
{% for task in part_plating_tasks %}
{% if task.part == part %}
<li> <a href = "{% url 'platingtask-detail' task.pk %}">{{task}}</a> 
</li>
<br>
{% endif %}
{% endfor %}

{% endif %}
{% endif %}
{% endblock %}