{% extends "base_generic.html" %}

{% block content %}
{% load static %}

<head >
<style> 
a.ex3 {color: #28a745}
</style>
</head>
<h1>{{part}} ({{part.team}}) Serial: {{part.serial}} </h1>
<h5>Work Order: {{part.Work_Order}} </h5>
<h5>Core Type: {{part.core_type}} </h5>
{% if part.archive != True %}
{% if user.is_authenticated %}
<hr>
<h5>Admin Panel</h5>
<li><a href = "{% url 'part-update' part.pk %}">Update part</a></li>
<li><a href = "{% url 'part-delete' part.pk %}">Delete part</a></li>
<hr>
{% endif %}
<div style="margin-left:30px;margin-top:20px">
<h5>Part Location:</h5>
{% if part in component_prep_tasks_not_completed %}
<p>Component Prep</p>
<img loading="lazy" src="{% static 'catalog/SpecialityMudMapCP.png' %}" alt="Complete" height = 400px usemap="#Locations">

<map name="Locations">
<area shape="rect" title="Component Prep" coords="280,150,320,260" href="{% url 'cptasks' %}" alt="Component Prep">
<area shape="rect" title="Stacking" coords="335,100,380,310" href="{% url 'stackingtasks' %}" alt="Stacking">
<area shape="rect" title="Plating" coords="178,90,250,180" href="{% url 'platingtasks' %}" alt="Plating">
<area shape="rect" title="Forming" coords="80,162,110,202" href="{% url 'formingtasks' %}" alt="Forming">
<area shape="rect" title="HP Machining" coords="0,126,45,255" href="{% url 'headerplatetasks' %}" alt="HP Machining">
<area shape="rect" title="Wire Cut" coords="0,270,45,400" href="{% url 'wirecuttasks' %}" alt="Wire Cut">
<area shape="rect" title="Pitching" coords="43,0,105,45" href="{% url 'pitchingtasks' %}" alt="Pitching">
<area shape="rect" title="Deburr" coords="400,0,500,45" href="{% url 'deburrtasks' %}" alt="Deburr">
</map>

{% elif part in forming_tasks_not_completed %}
<p>Header Plate Forming</p>
<img loading="lazy" src="{% static 'catalog/SpecialityMudMapFO.png' %}" alt="Complete" height = 400px usemap="#Locations">

<map name="Locations">
<area shape="rect" title="Component Prep" coords="280,150,320,260" href="{% url 'cptasks' %}" alt="Component Prep">
<area shape="rect" title="Stacking" coords="335,100,380,310" href="{% url 'stackingtasks' %}" alt="Stacking">
<area shape="rect" title="Plating" coords="178,90,250,180" href="{% url 'platingtasks' %}" alt="Plating">
<area shape="rect" title="Forming" coords="80,162,110,202" href="{% url 'formingtasks' %}" alt="Forming">
<area shape="rect" title="HP Machining" coords="0,126,45,255" href="{% url 'headerplatetasks' %}" alt="HP Machining">
<area shape="rect" title="Wire Cut" coords="0,270,45,400" href="{% url 'wirecuttasks' %}" alt="Wire Cut">
<area shape="rect" title="Pitching" coords="43,0,105,45" href="{% url 'pitchingtasks' %}" alt="Pitching">
<area shape="rect" title="Deburr" coords="400,0,500,45" href="{% url 'deburrtasks' %}" alt="Deburr">
</map>

{% elif part in stacking_tasks_not_completed %}
<p>Stacking</p>
<img loading="lazy" src="{% static 'catalog/SpecialityMudMapST.png' %}" alt="Complete" height = 400px usemap="#Locations">

<map name="Locations">
<area shape="rect" title="Component Prep" coords="280,150,320,260" href="{% url 'cptasks' %}" alt="Component Prep">
<area shape="rect" title="Stacking" coords="335,100,380,310" href="{% url 'stackingtasks' %}" alt="Stacking">
<area shape="rect" title="Plating" coords="178,90,250,180" href="{% url 'platingtasks' %}" alt="Plating">
<area shape="rect" title="Forming" coords="80,162,110,202" href="{% url 'formingtasks' %}" alt="Forming">
<area shape="rect" title="HP Machining" coords="0,126,45,255" href="{% url 'headerplatetasks' %}" alt="HP Machining">
<area shape="rect" title="Wire Cut" coords="0,270,45,400" href="{% url 'wirecuttasks' %}" alt="Wire Cut">
<area shape="rect" title="Pitching" coords="43,0,105,45" href="{% url 'pitchingtasks' %}" alt="Pitching">
<area shape="rect" title="Deburr" coords="400,0,500,45" href="{% url 'deburrtasks' %}" alt="Deburr">
</map>

{% elif part in wire_cut_tasks_not_completed %}
<p>Wire Cut</p>
<img loading="lazy" src="{% static 'catalog/SpecialityMudMapWC.png' %}" alt="Complete" height = 400px usemap="#Locations">

<map name="Locations">
<area shape="rect" title="Component Prep" coords="280,150,320,260" href="{% url 'cptasks' %}" alt="Component Prep">
<area shape="rect" title="Stacking" coords="335,100,380,310" href="{% url 'stackingtasks' %}" alt="Stacking">
<area shape="rect" title="Plating" coords="178,90,250,180" href="{% url 'platingtasks' %}" alt="Plating">
<area shape="rect" title="Forming" coords="80,162,110,202" href="{% url 'formingtasks' %}" alt="Forming">
<area shape="rect" title="HP Machining" coords="0,126,45,255" href="{% url 'headerplatetasks' %}" alt="HP Machining">
<area shape="rect" title="Wire Cut" coords="0,270,45,400" href="{% url 'wirecuttasks' %}" alt="Wire Cut">
<area shape="rect" title="Pitching" coords="43,0,105,45" href="{% url 'pitchingtasks' %}" alt="Pitching">
<area shape="rect" title="Deburr" coords="400,0,500,45" href="{% url 'deburrtasks' %}" alt="Deburr">
</map>

{% elif part in pitching_tasks_not_completed %}
<p>Pitching</p>
<img loading="lazy" src="{% static 'catalog/SpecialityMudMapPT.png' %}" alt="Complete" height = 400px usemap="#Locations">

<map name="Locations">
<area shape="rect" title="Component Prep" coords="280,150,320,260" href="{% url 'cptasks' %}" alt="Component Prep">
<area shape="rect" title="Stacking" coords="335,100,380,310" href="{% url 'stackingtasks' %}" alt="Stacking">
<area shape="rect" title="Plating" coords="178,90,250,180" href="{% url 'platingtasks' %}" alt="Plating">
<area shape="rect" title="Forming" coords="80,162,110,202" href="{% url 'formingtasks' %}" alt="Forming">
<area shape="rect" title="HP Machining" coords="0,126,45,255" href="{% url 'headerplatetasks' %}" alt="HP Machining">
<area shape="rect" title="Wire Cut" coords="0,270,45,400" href="{% url 'wirecuttasks' %}" alt="Wire Cut">
<area shape="rect" title="Pitching" coords="43,0,105,45" href="{% url 'pitchingtasks' %}" alt="Pitching">
<area shape="rect" title="Deburr" coords="400,0,500,45" href="{% url 'deburrtasks' %}" alt="Deburr">
</map>

{% elif part in HP_tasks_not_completed %}
<p>HP Machining</p>
<img loading="lazy" src="{% static 'catalog/SpecialityMudMapHP.png' %}" alt="Complete" height = 400px usemap="#Locations">

<map name="Locations">
<area shape="rect" title="Component Prep" coords="280,150,320,260" href="{% url 'cptasks' %}" alt="Component Prep">
<area shape="rect" title="Stacking" coords="335,100,380,310" href="{% url 'stackingtasks' %}" alt="Stacking">
<area shape="rect" title="Plating" coords="178,90,250,180" href="{% url 'platingtasks' %}" alt="Plating">
<area shape="rect" title="Forming" coords="80,162,110,202" href="{% url 'formingtasks' %}" alt="Forming">
<area shape="rect" title="HP Machining" coords="0,126,45,255" href="{% url 'headerplatetasks' %}" alt="HP Machining">
<area shape="rect" title="Wire Cut" coords="0,270,45,400" href="{% url 'wirecuttasks' %}" alt="Wire Cut">
<area shape="rect" title="Pitching" coords="43,0,105,45" href="{% url 'pitchingtasks' %}" alt="Pitching">
<area shape="rect" title="Deburr" coords="400,0,500,45" href="{% url 'deburrtasks' %}" alt="Deburr">
</map>

{% elif part in deburr_tasks_not_completed %}
<p>Deburr</p>
<img loading="lazy" src="{% static 'catalog/SpecialityMudMapDB.png' %}" alt="Complete" height = 400px usemap="#Locations">

<map name="Locations">
<area shape="rect" title="Component Prep" coords="280,150,320,260" href="{% url 'cptasks' %}" alt="Component Prep">
<area shape="rect" title="Stacking" coords="335,100,380,310" href="{% url 'stackingtasks' %}" alt="Stacking">
<area shape="rect" title="Plating" coords="178,90,250,180" href="{% url 'platingtasks' %}" alt="Plating">
<area shape="rect" title="Forming" coords="80,162,110,202" href="{% url 'formingtasks' %}" alt="Forming">
<area shape="rect" title="HP Machining" coords="0,126,45,255" href="{% url 'headerplatetasks' %}" alt="HP Machining">
<area shape="rect" title="Wire Cut" coords="0,270,45,400" href="{% url 'wirecuttasks' %}" alt="Wire Cut">
<area shape="rect" title="Pitching" coords="43,0,105,45" href="{% url 'pitchingtasks' %}" alt="Pitching">
<area shape="rect" title="Deburr" coords="400,0,500,45" href="{% url 'deburrtasks' %}" alt="Deburr">
</map>

{% elif part in plating_tasks_not_completed %}
<p>Plating</p>
<img loading="lazy" src="{% static 'catalog/SpecialityMudMapPL.png' %}" alt="Complete" height = 400px usemap="#Locations">

<map name="Locations">
<area shape="rect" title="Component Prep" coords="280,150,320,260" href="{% url 'cptasks' %}" alt="Component Prep">
<area shape="rect" title="Stacking" coords="335,100,380,310" href="{% url 'stackingtasks' %}" alt="Stacking">
<area shape="rect" title="Plating" coords="178,90,250,180" href="{% url 'platingtasks' %}" alt="Plating">
<area shape="rect" title="Forming" coords="80,162,110,202" href="{% url 'formingtasks' %}" alt="Forming">
<area shape="rect" title="HP Machining" coords="0,126,45,255" href="{% url 'headerplatetasks' %}" alt="HP Machining">
<area shape="rect" title="Wire Cut" coords="0,270,45,400" href="{% url 'wirecuttasks' %}" alt="Wire Cut">
<area shape="rect" title="Pitching" coords="43,0,105,45" href="{% url 'pitchingtasks' %}" alt="Pitching">
<area shape="rect" title="Deburr" coords="400,0,500,45" href="{% url 'deburrtasks' %}" alt="Deburr">
</map>



{% else %}
<h5 class = "text-success"><a class = "ex3" href = "{% url 'part-complete' part.pk %}">Ready To Leave For Fabrication</a></h5>

{% endif %}
</div>
<div style="margin-left:20px;margin-top:20px">
<h4>Current Component Prep Tasks</h4>
<hr>
{% if part in component_prep_tasks_not_completed %}
{% for task in part_component_prep_tasks %}
{% if task.part == part %}
<li> <a href = "{% url 'cptask-detail' task.pk %}">{{task}}</a> 
      <span class ="{% if task.status == 'c' %}text-success
       {% elif task.status == 'h' %}text-warning 
       {% elif task.status == 'p' %}text-info {% else %}
       text-body{% endif %}">
    </span> 
{% if task.status == "a" %}
<span class = "text-success"> (Avaliable) </span>{% endif %}
</li>
{% endif %}
{% endfor %}

</h5>
{% else %}
<h5 class = "text-success">
Component Prep Tasks Complete
</h5>
{% endif %}

<br>
<h4>Current Forming Tasks</h4>
<hr>
{% if part in forming_tasks_not_completed %}
{% for task in part_forming_tasks %}
{% if task.part == part %}
<li><a href = "{% url 'formingtask-detail' task.pk %}">{{task}}</a>
<span class ="{% if task.status == 'c' %}text-success {% elif task.status == 'h' %}
      text-warning {% elif task.status == 'p' %}
      text-info {% else %}text-body{% endif %}">
      </span>
{% if task.status == "a" %}
<span class = "text-success"> (Avaliable) </span>{% endif %}
</li>
{% endif %}
{% endfor %}
{% else %}
<h5 class = "text-success">
Forming Tasks Complete
</h5>
{% endif %}

<br>
<h4>Current Stacking Tasks</h4>
<hr>
{% if part in stacking_tasks_not_completed %}

{% for task in part_stacking_tasks %}
{% if task.part == part %}
<li>    {% if task.part in component_prep_tasks_not_completed %}
      {{task}}
      <span class = "text-danger">
       (Not Avaliable)
      </span>
      {% else %}
      <a href = "{% url 'stackingtask-detail' task.pk %}">{{task}}</a> 
      <span class ="{% if task.status == 'c' %}text-success {% elif task.status == 'h' %}
      text-warning {% elif task.status == 'p' %}
      text-info {% else %}text-body{% endif %}">
      </span>
      {% if task.status == "a" %}
        <span class = "text-success"> (Avaliable) </span>{% endif %}
      {% endif %}
       </li>
{% endif %}
{% endfor %}

{% else %}
<h5 class = "text-success"> Stacking Tasks Complete </h5>
{% endif %}

<br>
<h4>Current Wire Cut Tasks</h4>
<hr>
{% if part in wire_cut_tasks_not_completed %}

{% for task in part_wire_cut_tasks %}
{% if task.part == part %}
<li>    {% if task.part in stacking_tasks_not_completed %}
      {{task}}
      <span class = "text-danger">
       (Not Avaliable)
      </span>
      {% else %}
      <a href = "{% url 'wirecuttask-detail' task.pk %}">{{task}}</a> 
      <span class ="{% if task.status == 'c' %}text-success {% elif task.status == 'h' %}
      text-warning {% elif task.status == 'p' %}
      text-info {% else %}text-body{% endif %}">
      </span>
      {% if task.status == "a" %}
        <span class = "text-success"> (Avaliable) </span>{% endif %}
      {% endif %}
       </li>
{% endif %}
{% endfor %}

{% else %}
<h5 class = "text-success"> Wire Cut Tasks Complete </h5>
{% endif %}

<br>
<h4>Current Pitching Tasks</h4>
<hr>
{% if part in pitching_tasks_not_completed %}
{% for task in part_pitching_tasks %}
{% if task.part == part %}
<li>    {% if task.part in wire_cut_tasks_not_completed %}
      {{task}}
      <span class = "text-danger">
       (Not Avaliable)
      </span>
      {% else %}
      <a href = "{% url 'pitchingtask-detail' task.pk %}">{{task}}</a> 
      <span class ="{% if task.status == 'c' %}text-success {% elif task.status == 'h' %}
      text-warning {% elif task.status == 'p' %}
      text-info {% else %}text-body{% endif %}">
      </span>
      {% if task.status == "a" %}
        <span class = "text-success"> (Avaliable) </span>{% endif %}
      {% endif %}
       </li>
{% endif %}
{% endfor %}

{% else %}
<h5 class = "text-success"> Pitching Tasks Complete </h5>
{% endif %}

<br>
<h4>Current Header Plate Machining Tasks</h4>
<hr>
{% if part in HP_tasks_not_completed %}
{% for task in part_header_plate_tasks %}
{% if task.part == part %}
<li>    {% if task.part in pitching_tasks_not_completed %}
      {{task}}
      <span class = "text-danger">
       (Not Avaliable)
      </span>
      {% else %}
      <a href = "{% url 'hptask-detail' task.pk %}">{{task}}</a> 
      <span class ="{% if task.status == 'c' %}text-success {% elif task.status == 'h' %}
      text-warning {% elif task.status == 'p' %}
      text-info {% else %}text-body{% endif %}">
      </span>
      {% if task.status == "a" %}
        <span class = "text-success"> (Avaliable) </span>{% endif %}
      {% endif %}
       </li>
{% endif %}
{% endfor %}

{% else %}
<h5 class = "text-success"> Header Plate Machining Tasks Complete </h5>
{% endif %}

<br>
<h4>Current Deburr Tasks</h4>
<hr>
{% if part in deburr_tasks_not_completed %}
{% for task in part_deburr_tasks %}
{% if task.part == part %}
<li>    {% if task.part in HP_tasks_not_completed %}
      {{task}}
      <span class = "text-danger">
       (Not Avaliable)
      </span>
      {% else %}
      <a href = "{% url 'deburrtask-detail' task.pk %}">{{task}}</a> 
      <span class ="{% if task.status == 'c' %}text-success {% elif task.status == 'h' %}
      text-warning {% elif task.status == 'p' %}
      text-info {% else %}text-body{% endif %}">
      </span>
      {% if task.status == "a" %}
        <span class = "text-success"> (Avaliable) </span>{% endif %}
      {% endif %}
       </li>
{% endif %}
{% endfor %}

{% else %}
<h5 class = "text-success">Deburr Tasks Complete </h5>
{% endif %}

<br>
<h4>Current Plating Tasks</h4>
<hr>
{% if part in plating_tasks_not_completed %}
{% for task in part_plating_tasks %}
{% if task.part == part %}
<li>    {% if task.part in deburr_tasks_not_completed %}
      {{task}}
      <span class = "text-danger">
       (Not Avaliable)
      </span>
      {% else %}
      <a href = "{% url 'platingtask-detail' task.pk %}">{{task}}</a> 
      <span class ="{% if task.status == 'c' %}text-success {% elif task.status == 'h' %}
      text-warning {% elif task.status == 'p' %}
      text-info {% else %}text-body{% endif %}">
      </span>
      {% if task.status == "a" %}
        <span class = "text-success"> (Avaliable) </span>{% endif %}
      {% endif %}
       </li>
{% endif %}
{% endfor %}

{% else %}
<h5 class = "text-success"> Plating Tasks Complete </h5>
{% endif %}
</div>
<br>
<br>
{% else %}
{# Archived Core #}
{% if user.is_authenticated %}
<h5 class ="text-danger"> Archived Core</h5>
<hr>
<h5>Admin Panel</h5>
<li><a href = "{% url 'part-delete' part.pk %}">Delete part</a></li>
<hr>

<h4>Component Prep Tasks</h4>
<hr>
{% for task in part_component_prep_tasks %}
{% if task.part == part %}
<li> <a href = "{% url 'cptask-detail' task.pk %}">{{task}}</a> 
</li>
<br>
{% endif %}
{% endfor %}

<h4>Forming Tasks</h4>
<hr>
{% for task in part_forming_tasks %}
{% if task.part == part %}
<li> <a href = "{% url 'formingtask-detail' task.pk %}">{{task}}</a> 
</li>
<br>
{% endif %}
{% endfor %}

<h4>Stacking Tasks</h4>
<hr>
{% for task in part_stacking_tasks %}
{% if task.part == part %}
<li> <a href = "{% url 'stackingtask-detail' task.pk %}">{{task}}</a> 
</li>
<br>
{% endif %}
{% endfor %}

<h4>Wire Cut Tasks</h4>
<hr>
{% for task in part_wire_cut_tasks %}
{% if task.part == part %}
<li> <a href = "{% url 'wirecuttask-detail' task.pk %}">{{task}}</a> 
</li>
<br>
{% endif %}
{% endfor %}

<h4>Pitching Tasks</h4>
<hr>
{% for task in part_pitching_tasks %}
{% if task.part == part %}
<li> <a href = "{% url 'pitchingtask-detail' task.pk %}">{{task}}</a> 
</li>
<br>
{% endif %}
{% endfor %}

<h4>Header Plate Machining Tasks</h4>
<hr>
{% for task in part_header_plate_tasks %}
{% if task.part == part %}
<li> <a href = "{% url 'hptask-detail' task.pk %}">{{task}}</a> 
</li>
<br>
{% endif %}
{% endfor %}

<h4>Deburring Tasks</h4>
<hr>
{% for task in part_deburr_tasks %}
{% if task.part == part %}
<li> <a href = "{% url 'deburrtask-detail' task.pk %}">{{task}}</a> 
</li>
<br>
{% endif %}
{% endfor %}

<h4>Plating Tasks</h4>
<hr>
{% for task in part_plating_tasks %}
{% if task.part == part %}
<li> <a href = "{% url 'platingtask-detail' task.pk %}">{{task}}</a> 
</li>
<br>
{% endif %}
{% endfor %}

{% endif %}
{% endif %}
{% endblock %}