{% extends "base_generic.html" %}

{% block content %}
  <h1>Parts In Progress</h1>
  {% if user.is_authenticated %}
      <hr>
      <h5>Admin Panel</h5>
      <p><a href = "{% url 'part-create' %}">Create new part</a></p>
      <hr>
  {% endif %}
  {% if part_list %}
  <ul>
    {% for part in part_list %}
      <li>
        <a href="{{ part.get_absolute_url }}">{{ part.title }} ({{part.team}})
        Serial: {{part.serial}}</a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no parts in the system</p>
  {% endif %} 
{% endblock %}