{% extends "base_generic.html" %}

{% block content %}

<h1>{{part}} ({{part.team}})</h1>
{% if user.is_authenticated %}
<hr>
<h5>Admin Panel</h5>
<li><a href = "{% url 'part-update' part.pk %}">Update part</a></li>
<li><a href = "{% url 'part-delete' part.pk %}">Delete part</a></li>
<hr>
{% endif %}
<div style="margin-left:20px;margin-top:20px">
<h4>Current Tasks</h4>
<hr>
{% for task in part_specific_tasks %}
{% if task.part == part %}
<li> <a href = "{% url 'cptask-detail' task.pk %}">{{task}}</a> 
      <span class ="{% if task.status == 'c' %}text-success {% elif task.status == 'h' %}text-warning {% elif task.status == 'p' %}text-info {% else %}text-body{% endif %}">- {{task.get_status_display}} </span> </li>
{% endif %}
{% endfor %}
</div>
{% endblock %}