{% extends "base_generic.html" %}

{% block content %}
  <h1><a href ="{% url 'part-detail' pitchingtaskinstance.part.pk %}">{{pitchingtaskinstance.part}} 
  ({{pitchingtaskinstance.part.team}})</a> - 
  {{pitchingtaskinstance}}</h1>
  <div style="margin-left:20px;margin-top:20px">
    <h4>Status: 
    <span class= "{% if pitchingtaskinstance.status == 'c' %}text-success
    {% elif pitchingtaskinstance.status == 'h' %}text-warning
    {% elif pitchingtaskinstance.status == 'p' %}text-info
    {% else %}text-body{% endif %}">
    {{pitchingtaskinstance.get_status_display}}</span>
    {% if pitchingtaskinstance.status != "c" %}
    {% if pitchingtaskinstance.part in wire_cut_tasks_not_completed %}
    <span class = "text-danger">- Unavaliable</span>
    {% else %}
    <span class = "text-success">- Avaliable</span>
    {% endif %}
    {% endif %}
    {% if user.is_authenticated %} 
    -
    <a href = "{% url 'pitchingtask-update-status' pitchingtaskinstance.pk %}">
     Edit status</a>, <a href="{% url 'pitchingtask-delete' pitchingtaskinstance.pk %}">Delete Task</a>
    {% endif %}
    </h4>
      <hr>
     <h5>Current options</h5>
    {% if pitchingtaskinstance.part in wire_cut_tasks_not_completed %}
    <p> Wire Cut Tasks Incomplete </p>
    {% else %}
    {% if pitchingtaskinstance.status == 'c' %}
    <p>Task Complete</p> 
    {% elif pitchingtaskinstance.status == 'h' %}
    <p><a href="{% url 'startpitchingtask' pk=pitchingtaskinstance.pk %}">Resume Task</a></p>
    {% elif pitchingtaskinstance.status == 'a' %}
    <p><a href="{% url 'startpitchingtask' pk=pitchingtaskinstance.pk %}">Begin Task</a></p>
    {% elif pitchingtaskinstance.status == 'p' %}
    <p><a href="{% url 'finishpitchingtask' pk=pitchingtaskinstance.pk %}">Finish Task</a></p>
    {% endif %}
    {% endif %}
  </div>
{% endblock %}