{% extends "base_generic.html" %}

{% block content %}

<h1>Delete Task: {{pitchingtaskinstance.part}} 
  ({{pitchingtaskinstance.part.team}}) 
  Serial: {{pitchingtaskinstance.part.serial}} - 
  {{pitchingtaskinstance}}</h1>

<p>Are you sure you want to delete the task: 
{{pitchingtaskinstance.part}} 
  ({{pitchingtaskinstance.part.team}})
  Serial: {{pitchingtaskinstance.part.serial}} -
  {{pitchingtaskinstance}}?</p>

<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" value="Yes, delete.">
</form>

{% endblock %}