{% extends "base_generic.html" %}
{% block content %}
{% load static %}
<html>
<head>
<style>
div.ex3 {color: #bababa;}
a.ex2{color: #d6d6d6;font-weight: 600}
</style>
</head>
<body>
  <h1><a href ="{% url 'part-detail' platingtaskinstance.part.pk %}">{{platingtaskinstance.part}} 
  ({{platingtaskinstance.part.team}}) Serial: {{platingtaskinstance.part.serial}}</a> - 
  {{platingtaskinstance}}</h1>
  <div style="margin-left:20px;margin-top:20px">
    <h4>Status: </h4>
   {% if platingtaskinstance.status == 10 %}
    <span title="Task Complete">
      <div class = "text-success">Task Complete <img src="{% static 'catalog/tick.png' %}" alt="Complete"></div>
       </span>
    {% elif platingtaskinstance.status == 1 %}
    <span title="Task in progress">
      <div class = "text-info">In Progress <img src="{% static 'catalog/alarm-clock--arrow.png' %}" alt="In Progress"></div>
       </span>
    {% elif platingtaskinstance.status == 3 %}
    <span title="Task on hold">
        <div class = "text-warning">Task On Hold <img src="{% static 'catalog/alarm-clock--exclamation.png' %}" alt="On hold"></div>
       </span>
       {% elif platingtaskinstance.status == 2 %}
       <span title="Task not yet started">
        <div class = "ex3">{{platingtaskinstance.part}} ({{platingtaskinstance.part.team}}) Serial: {{platingtaskinstance.part.serial}} - {{platingtaskinstance.task}}</div>
      <span class = "text-success">
      Avaliable To Start
      </span>
      </span>
      {% else %}
      <span title="Task Failed">
       <div  class = "text-danger" href = "{{newtask.get_absolute_url}}">{{newtask.part}} ({{newtask.part.team}}) Serial: {{newtask.part.serial}} - {{newtask.task}}</div>
       </span>
      {% endif %}
    {% if user.is_authenticated %} 
    <hr>
    <h5> Admin Pannel </h5>
    <a class = "ex2" href = "{% url 'platingtask-update-status' platingtaskinstance.pk %}">
     Edit status</a>, <a class = "ex2" href="{% url 'platingtask-delete' platingtaskinstance.pk %}">Delete Task</a>
     
     <div>Task Created: {{platingtaskinstance.createtime}}</div>
     {% if platingtaskinstance.starttime == None %}
     <div>Task Not Yet Started</div>
     {% else %}
     <div>Task Started: {{platingtaskinstance.starttime}}</div>
     <div>Time untill Task was started: {{platingtaskinstance.timetostart}}</div>
     
     {% endif %}
     {% if platingtaskinstance.finishtime == None %}
     {% else %}
     <div>Task Finished: {{platingtaskinstance.finishtime}}</div>
     <div> Time Taken: {{platingtaskinstance.timetaken}}</div>
     {% endif %}
    {% endif %}
    
      <hr>
     <h5>Current options</h5>
    {% if platingtaskinstance.part in deburr_tasks_not_completed %}
    <p> Part is not ready for plating </p>
    {% else %}
    {% if platingtaskinstance.status == 10 %}
    <p>Task Complete</p> 
    {% elif platingtaskinstance.status == 3 %}
    <p><a href="{% url 'startplatingtask' pk=platingtaskinstance.pk %}">Resume Task</a></p>
    {% elif platingtaskinstance.status == 2 %}
    <p><a href="{% url 'startplatingtask' pk=platingtaskinstance.pk %}">Begin Task</a></p>
    {% elif platingtaskinstance.status == 1 %}
    <p><a href="{% url 'finishplatingtask' pk=platingtaskinstance.pk %}">Finish Task</a></p>
    {% endif %}
    {% endif %}
  </div>
{% endblock %}