<html>
<head>
<style>
div.ex3 {color: black;}
</style>
{% extends "base_generic.html" %}
{% load static %}
</head>
<body>
{% block content %}
  <h1><a href ="{% url 'part-detail' platingtaskinstance.part.pk %}">{{platingtaskinstance.part}} 
  ({{platingtaskinstance.part.team}}) Serial: {{platingtaskinstance.part.serial}}</a> - 
  {{platingtaskinstance}}</h1>
  <div style="margin-left:20px;margin-top:20px">
    <h4>Status: </h4>
   {% if platingtaskinstance.status == "z" %}
    <span title="Task Complete">
      <div class = "text-success">{{platingtaskinstance.part}} ({{platingtaskinstance.part.team}}) Serial: {{platingtaskinstance.part.serial}} - {{platingtaskinstance.task}}</div>
       <img src="{% static 'catalog/tick.png' %}" alt="Complete">
       </span>
    {% elif platingtaskinstance.status == "b" %}
    <span title="Task in progress">
      <div class = "text-info">{{platingtaskinstance.part}} ({{platingtaskinstance.part.team}}) Serial: {{platingtaskinstance.part.serial}} - {{platingtaskinstance.task}}</div>
       <img src="{% static 'catalog/alarm-clock--arrow.png' %}" alt="In Progress">
       </span>
    {% elif platingtaskinstance.status == "h" %}
    <span title="Task on hold">
       <div class = "text-warning">{{platingtaskinstance.part}} ({{platingtaskinstance.part.team}}) Serial: {{platingtaskinstance.part.serial}} - {{platingtaskinstance.task}}</div>
       <img src="{% static 'catalog/alarm-clock--exclamation.png' %}" alt="On hold">
       </span>
       {% elif platingtaskinstance.status == "a" %}
       <span title="Task not yet started">
        <div class = "ex3">{{platingtaskinstance.part}} ({{platingtaskinstance.part.team}}) Serial: {{platingtaskinstance.part.serial}} - {{platingtaskinstance.task}}</div>
      <span class = "text-success">
      (Avaliable)
      </span>
      </span>
      {% else %}
      <span title="Task Failed">
       <div  class = "text-danger" href = "{{newtask.get_absolute_url}}">{{newtask.part}} ({{newtask.part.team}}) Serial: {{newtask.part.serial}} - {{newtask.task}}</div>
       </span>
      {% endif %}
    {{platingtaskinstance.get_status_display}}
    {% if user.is_authenticated %} 
    -
    <a href = "{% url 'platingtask-update-status' platingtaskinstance.pk %}">
     Edit status</a>, <a href="{% url 'platingtask-delete' platingtaskinstance.pk %}">Delete Task</a>
    {% endif %}
    
      <hr>
     <h5>Current options</h5>
    {% if platingtaskinstance.part in deburr_tasks_not_completed %}
    <p> Part is not ready for plating </p>
    {% else %}
    {% if platingtaskinstance.status == 'z' %}
    <p>Task Complete</p> 
    {% elif platingtaskinstance.status == 'h' %}
    <p><a href="{% url 'startplatingtask' pk=platingtaskinstance.pk %}">Resume Task</a></p>
    {% elif platingtaskinstance.status == 'a' %}
    <p><a href="{% url 'startplatingtask' pk=platingtaskinstance.pk %}">Begin Task</a></p>
    {% elif platingtaskinstance.status == 'b' %}
    <p><a href="{% url 'finishplatingtask' pk=platingtaskinstance.pk %}">Finish Task</a></p>
    {% endif %}
    {% endif %}
  </div>
{% endblock %}