{% extends "base_generic.html" %}

{% block content %}

<h1>Delete Task: {{stackingtaskinstance.part}} 
  ({{stackingtaskinstance.part.team}}) 
  Serial: {{stackingtaskinstance.part.serial}}- 
  {{stackingtaskinstance}}</h1>

<p>Are you sure you want to delete the task: 
{{stackingtaskinstance.part}} 
  ({{stackingtaskinstance.part.team}}) 
  Serial: {{stackingtaskinstance.part.serial}} 
   - {{stackingtaskinstance}}?</p>

<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" value="Yes, delete.">
</form>

{% endblock %}