<html>
<head>
<style>

a.ex3 {color: black;}

</style>
</head>
<body>
{% extends "base_generic.html" %}
{% load static %}
{% block content %}
  <h1>Wire Cut Tasks</h1>
  <hr>
  {% if wirecuttask_list %} 
  <h4>Tasks Remaining: {{tasks_remaining}}</h4>
  {% if user.is_authenticated %}
  <hr>
  <h5>Admin Panel</h5>
  <div>Tasks not yet started: {{num_tasks_not_started}} </div>
  <hr>
  {% endif %}
    {% for newtask in wirecuttask_list %}
    {% if newtask.part.archive != True %}
      {% if newtask.part in stacking_tasks_not_completed %}
      <span title = "Task Unavalible">
      <li><span class = "text-danger" title = "Task Unavalible">{{newtask.part}} ({{newtask.part.team}}) Serial: {{newtask.part.serial}} - {{newtask.task}}
      <img src="{% static 'catalog/prohibition.png' %}" alt="Complete">
      </span>
      </li>
  {% else %}
    <li>
    {% if newtask.status == "z" %}
    <span title="Task Complete">
      <a  class = "text-success" href = "{{newtask.get_absolute_url}}">{{newtask.part}} ({{newtask.part.team}}) Serial: {{newtask.part.serial}} - {{newtask.task}}</a>
       <img src="{% static 'catalog/tick.png' %}" alt="Complete">
       </span>
    {% elif newtask.status == "b" %}
    <span title="Task in progress">
      <a  class = "text-info" href = "{{newtask.get_absolute_url}}">{{newtask.part}} ({{newtask.part.team}}) Serial: {{newtask.part.serial}} - {{newtask.task}}</a>
       <img src="{% static 'catalog/alarm-clock--arrow.png' %}" alt="In Progress">
       </span>
    {% elif newtask.status == "h" %}
    <span title="Task on hold">
      <a  class = "text-warning" href = "{{newtask.get_absolute_url}}">{{newtask.part}} ({{newtask.part.team}}) Serial: {{newtask.part.serial}} - {{newtask.task}}</a>
       <img src="{% static 'catalog/alarm-clock--exclamation.png' %}" alt="On hold">
       </span>
       {% elif newtask.status == "a" %}
       <span title="Task not yet started">
       <a  class = "ex3" href = "{{newtask.get_absolute_url}}">{{newtask.part}} ({{newtask.part.team}}) Serial: {{newtask.part.serial}} - {{newtask.task}}</a>
      <span class = "text-success">
      (Avaliable)
      </span>
      </span>
      {% else %}
      <span title="Task Failed">
       <a  class = "text-danger" href = "{{newtask.get_absolute_url}}">{{newtask.part}} ({{newtask.part.team}}) Serial: {{newtask.part.serial}} - {{newtask.task}}</a>
       </span>
      {% endif %}
    </li>
    {% endif %}
    {% elif not_archived_tasks == 0 %}
    <p>There are no tasks currently listed.</p>
    {% endif %}
    {% endfor %}
  {% else %}
    <p>There are no tasks currently listed.</p>
  {% endif %} 
{% endblock %}
</body>
</html>