{% extends "base_generic.html" %}
{% block content %}
{% load static %}
<html>
<head>
<style>
div.ex3 {color: #bababa;}
a.ex2{color: #d6d6d6;font-weight: 600}
</style>

</head>
<body>

  <h1><a href ="{% url 'part-detail' wirecuttaskinstance.part.pk %}">{{wirecuttaskinstance.part}} 
  ({{wirecuttaskinstance.part.team}}) Serial: {{wirecuttaskinstance.part.serial}}</a> - 
  {{wirecuttaskinstance}}</h1>
  <div style="margin-left:20px;margin-top:20px">
    <h4>Status:  </h4>
   {% if wirecuttaskinstance.status == 10 %}
    <span title="Task Complete">
      <div class = "text-success">Task Complete <img src="{% static 'catalog/tick.png' %}" alt="Complete"></div>
       </span>
    {% elif wirecuttaskinstance.status == 1 %}
    <span title="Task in progress">
       <div class = "text-info">In Progress <img src="{% static 'catalog/alarm-clock--arrow.png' %}" alt="In Progress"></div>
       </span>
    {% elif wirecuttaskinstance.status == 3 %}
    <span title="Task on hold">
       <div class = "text-warning">Task On Hold <img src="{% static 'catalog/alarm-clock--exclamation.png' %}" alt="On hold"></div>
       </span>
       {% elif wirecuttaskinstance.status == 2 %}
       <span title="Task not yet started">
      <span class = "text-success">
      Avaliable To Start
      </span>
      </span>
      {% else %}
      <span title="Task Failed">
       <div  class = "text-danger" href = "{{newtask.get_absolute_url}}">{{newtask.part}} ({{newtask.part.team}}) Serial: {{newtask.part.serial}} - {{newtask.task}}</div>
       </span>
      {% endif %}
    {% if user.is_authenticated %} 
        <hr>
    <h5> Admin Pannel </h5>
    <a class = "ex2" href = "{% url 'wirecuttask-update-status' wirecuttaskinstance.pk %}">
     Edit status</a>, <a class = "ex2" href="{% url 'wirecuttask-delete' wirecuttaskinstance.pk %}">Delete Task</a>
     
     <div>Task Created: {{wirecuttaskinstance.createtime}}</div>
     {% if wirecuttaskinstance.starttime == None %}
     <div>Task Not Yet Started</div>
     {% else %}
     <div>Task Started: {{wirecuttaskinstance.starttime}}</div>
     <div>Time untill Task was started: {{wirecuttaskinstance.timetostart}}</div>
     
     {% endif %}
     {% if wirecuttaskinstance.finishtime == None %}
     {% else %}
     <div>Task Finished: {{wirecuttaskinstance.finishtime}}</div>
     <div> Time Taken: {{wirecuttaskinstance.timetaken}}</div>
     {% endif %}
    {% endif %}
    
      <hr>
     <h5>Current options</h5>
    {% if wirecuttaskinstance.part in stacking_tasks_not_completed %}
    <p> Stacking Tasks Incomplete </p>
    {% else %}
    {% if wirecuttaskinstance.status == 10 %}
    <p>Task Complete</p> 
    {% elif wirecuttaskinstance.status == 3 %}
    <p><a href="{% url 'startwirecuttask' pk=wirecuttaskinstance.pk %}">Resume Task</a></p>
    {% elif wirecuttaskinstance.status == 2 %}
    <p><a href="{% url 'startwirecuttask' pk=wirecuttaskinstance.pk %}">Begin Task</a></p>
    {% elif wirecuttaskinstance.status == 1 %}
    <p><a href="{% url 'finishwirecuttask' pk=wirecuttaskinstance.pk %}">Finish Task</a></p>
    {% endif %}
    {% endif %}
  </div>
{% endblock %}