{% extends "base_generic.html" %}

{% block content %}

<h1>Delete Task: {{wirecuttaskinstance.part}} 
  ({{wirecuttaskinstance.part.team}}) 
  Serial: {{wirecuttaskinstance.part.serial}} 
  - {{wirecuttaskinstance}}</h1>

<p>Are you sure you want to delete the task: 
{{wirecuttaskinstance.part}} 
  ({{wirecuttaskinstance.part.team}}) 
  Serial: {{wirecuttaskinstance.part.serial}} 
  - {{wirecuttaskinstance}}?</p>

<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" value="Yes, delete.">
</form>

{% endblock %}